.image-filler {
    position: absolute;
    top: -3px;
    right: 0;
    width: 100%;
    bottom: -3px;
    background-color: white;
    z-index: 3;
    transition: width 1s;

    .dark & {
        background-color: $dark;
    }
}

.showed {
    .image-filler {
        width: 0;
    }
}