.bird-image {
    .path-pattern {
        fill-opacity: 0;
        transition: fill-opacity 1s;
        cursor: pointer;
    }

    .only-path {
        transition: stroke .8s;
    }

    &.moving {
        .only-path {
            stroke: #212121;
        }
    }
}