.button {
    font-size: 18px;
    line-height: 36px;
    border: 1px solid #4F4F4F;
    display: inline-block;
    outline: none;
    text-decoration: none;
    padding: 10px 45px;
    min-width: 190px;
    text-align: center;
    cursor: pointer;
    position: relative;
    transition: opacity .3s;

    &:before {
        content: '';
        position: absolute;
        width: 18px;
        height: 18px;
        border-top: 1px solid #4F4F4F;
        transform: rotate(45deg);
        top: -10px;
        right: 25%;
        background-color: white;
    }

    &:hover {
        opacity: .7;
    }

    .dark & {
        &:before {
            background-color: $dark;
        }
    }

    &.button-gray {
        background-color: #3A3A3A;
        border: 1px solid #3A3A3A;
        color: white;

        &:before {
            display: none;
        }
    }
}