.owl-dots {
    display: flex;
    justify-content: center;

    .owl-dot {
        position: relative;
        width: 10px;
        height: 10px;
        outline: none;
        margin: 0 7px;

        &:before {
            width: 3px;
            height: 3px;
            border: 2px solid;
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transition: all .3s;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            box-sizing: border-box;
        }

        &.active {
            &:before {
                width: 10px;
                height: 10px;
            }
        }
    }
}

.owl-nav {
    button {
        &.owl-prev,
        &.owl-next {
            outline: 0;
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            width: 44px;
            height: 44px;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 1;
            transition: opacity .3s;

            &:hover {
                opacity: 1;
            }

            polyline {
                stroke: $dark;

                .dark & {
                    stroke: white;
                }
            }

            &.disabled {
                opacity: .5;
            }
        }

        &.owl-prev {
            left: -110px;
        }

        &.owl-next {
            right: -110px;
        }
    }

    @include media-breakpoint-down(lg) {
        button {
            &.owl-prev {
                left: -38px;
            }

            &.owl-next {
                right: -38px;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        button {
            svg {
                transform: scale(.5);

                polyline {
                    stroke-width: 3px;
                }
            }

            &.owl-prev,
            &.owl-next {
                opacity: 1;
            }

            &.owl-prev {
                left: 0;
            }

            &.owl-next {
                right: 0;
            }
        }
    }
}