$checkbox-size: 14px;
$checkbox-border-color: #3A3A3A;
$checkbox-check-color: #C4C4C4;
$checkbox-label-color: #898989;

.checkbox {
    position: relative;

    input {
        opacity: 0;
        left: 0;
        top: 0;
        width: $checkbox-size;
        height: $checkbox-size;
        pointer-events: none;
        position: absolute;
        margin: 0;
        box-shadow: none;

        &:checked + .checkbox-label:after,
        &:checked + .radio-label:after {
            opacity: 1;
        }
    }

    .checkbox-label,
    .radio-label {
        color: $checkbox-label-color;
        font-weight: 300;
        font-size: 12px;
        line-height: 133.69%;
        display: block;
        padding-left: $checkbox-size + 9px;
        position: relative;
        cursor: pointer;

        a {
            color: #BABABA;
        }

        &:before {
            content: '';
            width: $checkbox-size;
            height: $checkbox-size;
            box-sizing: border-box;
            position: absolute;
            left: 0;
            top: 1px;
            cursor: pointer;
            background-color: #F2F2F2;

            .dark & {
                background-color: #3A3A3A;
            }
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            opacity: 0;
            cursor: pointer;
            box-sizing: content-box;
            transition: opacity .2s;
        }
    }

    .checkbox-label {
        &:after {
            top: 1px;
            left: 4px;
            border-right: 2px solid $checkbox-check-color;
            border-bottom: 2px solid $checkbox-check-color;
            transform: rotate(40deg);
            height: 8px;
            width: 4px;
        }
    }

    .radio-label {
        &:before {
            border-radius: 50%;
        }

        &:after {
            top: 7px;
            left: 7px;
            height: 12px;
            width: 12px;
            border-radius: 50%;
            background: $checkbox-check-color;
        }
    }

    .checkbox-label:before,
    .radio-label:before {
        background-color: #F2F2F2;

        .dark & {
            background-color: #3A3A3A;
        }
    }

    &.inline {
        display: inline-block;
        margin: 5px $checkbox-size * 2 5px 0;
    }

    &.has-error {
        .checkbox-label:before,
        .radio-label:before {
            border: 1px solid red;
            background: lighten(red, 45);
        }
    }

    .help-block {
        margin-top: 2px;
    }
}
