.filter {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 70px;

    .links {
        padding-bottom: 10px;
        display: flex;
    }

    .link {
        position: relative;
        margin-right: 55px;
        display: inline-block;

        &:before {
            content: '';
            width: 0;
            position: absolute;
            left: 0;
            top: 100%;
            margin-top: 10px;
            border-bottom: 1px solid;
            transition: width .3s;
        }

        &:hover {
            &:before {
                width: 10px;
            }
        }
    }

    .uk-active {
        .link {
            &:before {
                width: 100%;
            }
        }
    }

    .search {
        width: 390px;
        position: relative;
        margin-top: -15px;

        .text-field {
            border-bottom: 1px solid $dark;
            padding-right: 30px;
        }
    }

    .search-button {
        position: absolute;
        border: 0;
        cursor: pointer;
        right: 0;
        bottom: 8px;
        outline: 0;
        background-color: transparent;
        margin: 0;
        padding: 0;

        .icon {
            width: 21px;
            height: 21px;
        }
    }

    .chevron-icon {
        display: none;
    }

    .links-mobile {
        display: none;
    }

    @include media-breakpoint-down(md) {
        align-items: flex-end;

        .links {
            border-bottom: 1px solid #DBDBDB;
            flex: 1;
            position: relative;
            margin-right: 30px;
            cursor: pointer;
            padding-bottom: 9px;
            padding-top: 9px;
        }

        .links-mobile {
            display: flex;
        }

        .links-desktop {
            display: none;
        }

        .chevron-icon {
            display: block;
            position: absolute;
            right: 0;
            bottom: 10px;
            width: 18px;
            height: 18px;
        }

        .search {
            margin-top: 0;
        }

        .link {
            display: none;

            &:before {
                display: none;
            }

            &.active {
                display: block;
            }
        }

        .search {
            width: 210px;

            .text-field {
                border-bottom: 1px solid #DBDBDB;
            }
        }

        & + .hashtags-switcher {
            display: none;
        }
    }

    @include media-breakpoint-down(sm) {
        margin-top: 40px;

        .links {
            margin-right: 25px;
        }

        .chevron-icon {
            width: 12px;
            height: 12px;
            bottom: 15px;
        }

        .search {
            width: 105px;

            .text-field {
                font-size: 12px;
                padding-bottom: 11px;
            }
        }

        .search-button {
            bottom: 13px;

            .icon {
                width: 16px;
                height: 16px;
            }
        }
    }
}

#filters-modal {
    .uk-modal-dialog {
        width: 500px;
        max-width: 100%;
        border-radius: 5px;
    }
}

.modal-filter {
    .item {
        padding: 10px 0;

        & + .item {
            border-top: 1px solid #DBDBDB;
        }
    }

    .child {
        font-size: 14px;
        line-height: 184.7%;
        color: #AEAEAE;
        display: table;
    }

    .child-row {
        display: block;
        padding-top: 10px;
    }

    .child-td {
        display: table-cell;

        a {
            transition: color .3s;
            text-decoration: underline;

            &.active {
                color: $dark;
            }
        }

        &:nth-child(1) {
            width: 50px;
            font-size: 12px;
        }
    }

    .button {
        margin-top: 30px;
    }

    .first-level {
        font-size: 16px;
        line-height: 36px;
        border-bottom: 1px solid $dark;
    }

    &.price-filter,
    &.video-filter {
        .first-level {
            border-bottom: 0;
            color: #8A8A8A;

            &.active {
                color: $dark;
            }
        }
    }
}