footer {
    background-color: $dark;
    color: white;
    font-weight: 300;
    font-size: 14px;
    padding: 25px 0;

    .container {
        display: flex;
        justify-content: space-between;
    }

    a {
        text-decoration: underline;
    }

    @include media-breakpoint-down(md) {
        .container {
            flex-direction: column;
            justify-content: flex-start;
        }

        .copyright {
            color: #808080;
            order: 2;
            margin-top: 25px;
        }
    }
}