.form {
    .form-bottom {
        margin-top: 55px;
        display: flex;
        align-items: center;
    }

    .left {
        padding-right: 50px;
    }

    @include media-breakpoint-down(md) {
        .form-bottom {
            display: block;
        }

        .left {
            padding-right: 0;
            margin-bottom: 30px;

            .button {
                width: 100%;
            }
        }
    }
}