.hamburger {
    cursor: pointer;
    z-index: 120;
    top: 5px;
    transform: translate(0, -50%);
    color: $dark;
    pointer-events: none;
    position: relative;
    transition: transform .3s, color .3s, top .3s;

    .dark  & {
        color: white;
    }

    &:before {
        width: 44px;
        height: 44px;
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .line {
        width: 0;
        border-top: 2px solid;
        position: relative;
        z-index: 2;
        transition: width .3s, margin-top .3s, transform .3s;
    }

    .line-2 {
        margin-top: 6px;
    }

    .page-scrolled .header:not(.absolute) &,
    .overlay-active & {
        pointer-events: auto;

        .line {
            width: 26px;
        }
    }

    body:not(.touch-device) & {
        &:hover {
            top: 1px;

            .line-2 {
                margin-top: -2px;
                transform: rotate(90deg);
                transition: width .3s, margin-top .2s, transform .2s .18s;
            }
        }
    }

    body.touch-device & {
        &:active {
            .line-2 {
                margin-top: -2px;
                transform: rotate(90deg);
                transition: width .3s, margin-top .2s, transform .2s .18s;
            }
        }
    }

    @media screen and (max-width: 1590px) {
        pointer-events: auto;

        .line {
            width: 26px;
        }
    }

    @include media-breakpoint-down(md) {
        .mobile-dark & {
            color: $dark;
        }
    }
}