.hashtags {
    margin: 60px -12px 0 -12px;
    position: relative;
    font-weight: 300;

    .link {
        display: inline-block;
        padding: 0 12px;
        color: #858585;
        transition: color .3s;
        position: relative;
        margin: 6px 0;

        &:hover,
        &.active {
            color: $dark;
        }
    }

    @include media-breakpoint-down(md) {
        margin-top: 50px;
    }

    @include media-breakpoint-down(sm) {
        margin-top: 35px;
    }
}