.header-page {
    margin-top: 250px;

    .caption {
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        color: #171717;
        font-style: italic;
        margin-top: 35px;
        opacity: .5;
    }

    @include media-breakpoint-down(md) {
        margin-top: 150px;
    }

    @include media-breakpoint-down(sm) {
        margin-top: 120px;

        .caption {
            font-size: 12px;
            line-height: 14px;
            margin-top: 15px;
        }
    }
}