.header {
    font-size: 16px;
    left: 0;
    line-height: 18px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    transition: background-color .5s;
    background-color: transparent;

    &.absolute {
        position: absolute;
    }

    .page-scrolled & {
        background-color: white;
    }

    html:not(.page-scrolled) &.dark-light {
        .language,
        .phones .caption {
            color: #AAAAAA;
        }
    }

    .nav-track__active {
        background-color: $dark;
    }

    .container {
        align-items: center;
        display: flex;
        height: 110px;
        justify-content: space-between;
        transition: height .5s;
    }

    .logo {
        display: inline-block;
        position: relative;
        overflow: hidden;

        svg {
            fill: $dark;
        }

        .icon-mobile {
            position: absolute;
            top: 10px;
            left: 0;
            opacity: 0;
            width: 190px;
            height: 26px;
            transition: opacity .5s;
        }

        .icon {
            height: 49px;
            min-width: 298px;
            width: 298px;
            display: block;
            transition: opacity .5s .3s;
        }
    }

    .right-side {
        display: flex;
        align-items: center;
        white-space: nowrap;
    }

    .nav-track {
        height: 1px;
        position: absolute;
        bottom: -10px;
        left: 0;
        width: 100%;
    }

    .left-side {
        display: flex;
        align-items: center;
    }

    .feedback-button {
        position: relative;
        cursor: pointer;
        margin: 0 30px;

        .line {
            width: 40px;
            bottom: -20px;
            border-bottom: 1px solid;
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
            transition: all .5s;
        }

        &:hover {
           .line {
               width: 80%;
           }
        }
    }

    .nav-track__active {
        bottom: 0;
        height: 1px;
        left: 0;
        opacity: 0;
        position: absolute;
        transition: all 0.3s ease-in-out;
    }

    .main-nav {
        white-space: nowrap;
        transition: opacity .3s, margin-right .3s;
        position: relative;
        margin-left: 140px;

        .link {
            margin-left: 30px;
            display: inline-block;
            transition: color .3s, margin-left .3s, transform .3s;
        }
    }

    .phones {
        margin-top: 14px;
        transition: all .5s;

        .item {
            display: flex;
            align-items: flex-end;
            text-align: right;
            justify-content: flex-end;
            transition: transform .5s;

            & + .item {
                margin-top: 5px;
            }
        }

        .caption {
            color: #6D6D6D;
            font-size: 12px;
            line-height: 14px;
            transition: transform .3s;
        }
    }

    .language {
        margin-left: 75px;
        color: rgba(0, 0, 0, 0.6);
        transition: all .5s;

        a {
            transition: color .3s;
        }

        .active,
        a:hover {
            color: black;
        }
    }

    .phone {
        display: inline-block;
        margin-left: 10px;
    }

    .feedback-button {
        transition: all .5s;
    }

    .phone-button {
        display: none;

        .for-dark {
            display: none;
        }
    }

    &.dark {
        color: white;

        .page-scrolled & {
            background-color: $dark;
        }

        .nav-track__active {
            background-color: white;
        }

        .link[data-badge] {
            &:before {
                color: #B9B9B9;
            }
        }

        .language {
            color: #6D6D6D;

            .active,
            a:hover {
                color: white;
            }
        }

        .logo {
            svg {
                fill: white;
            }
        }

        .phone-button {
            .for-dark {
                display: block;
            }

            .for-white {
                display: none;
            }
        }
    }

    .hamburger-wrapper {
        position: absolute;
        left: 470px;
        top: 50%;
        display: flex;
        transform: translate(0, -50%);
        align-items: center;
        pointer-events: none;
        cursor: pointer;

        .caption {
            margin-left: 10px;
            opacity: 0;
            transition: opacity;
        }
    }

    .page-scrolled &:not(.absolute) {
       .container {
           height: 60px;
       }

        .language,
        .feedback-button {
            transform: translate(-230px, 0);
        }

        .feedback-button {
            .line {
                transform: translate(80%, 0);
                opacity: 0;
            }
        }

        .logo {
            .icon {
                opacity: 0;
                transition: opacity .5s;
            }

            .icon-mobile {
                opacity: 1;
                transition: opacity .5s .3s;
            }
        }

        .phones {
            transform: translate(0, 6px);

            .item {
                &:nth-child(1) {
                    transform: translate(-210px, 0);
                }

                &:nth-child(2) {
                    transform: translate(0, -23px);
                }
            }

            .caption {
                transform: translate(0, -2px);
            }
        }


        .hamburger-wrapper {
            pointer-events: auto;

            .caption {
                opacity: 1;
            }
        }

        .main-nav {
            opacity: 0;
            width: 0;
            white-space: nowrap;
            pointer-events: none;

            .link {
                transform: translate(50px, 0);
            }
        }
    }
    
    @media screen and (max-width: 1670px) {
        .main-nav {
            margin-left: 60px;
        }

        .hamburger-wrapper {
            left: 390px;
        }
    }

    @media screen and (max-width: 1590px) {
        .container {
            height: 60px;
        }

        .language,
        .feedback-button {
            transform: translate(-230px, 0);
        }

        .feedback-button {
            .line {
                transform: translate(80%, 0);
                opacity: 0;
            }
        }

        .logo {
            .icon {
                opacity: 0;
                transition: opacity .5s;
            }

            .icon-mobile {
                opacity: 1;
                transition: opacity .5s .3s;
            }
        }

        .phones {
            transform: translate(0, 6px);

            .item {
                &:nth-child(1) {
                    transform: translate(-210px, 0);
                }

                &:nth-child(2) {
                    transform: translate(0, -23px);
                }
            }

            .caption {
                transform: translate(0, -2px);
            }
        }


        .hamburger-wrapper {
            pointer-events: auto;

            .caption {
                opacity: 1;
            }
        }

        .main-nav {
            opacity: 0;
            width: 0;
            white-space: nowrap;
            pointer-events: none;

            .link {
                transform: translate(50px, 0);
            }
        }
    }

    @media screen and (max-width: 1270px) {
        .hamburger-wrapper {
            left: 280px;
        }
    }

    @media screen and (max-width: 1130px) {
        .main-nav,
        .hamburger-wrapper .caption,
        .right-side {
            display: none;
        }

        .logo {
            .icon {
                opacity: 1 !important;
                width: 188px;
                min-width: 188px;
                height: 34px;
            }

            .icon-mobile {
                display: none;
            }
        }

        .hamburger-wrapper {
            left: auto;
            right: 38px;
        }

        .phone-button {
            position: absolute;
            right: 90px;
            top: 9px;
            display: block;

            .icon {
                width: 41px;
                height: 41px;
            }
        }
    }

    @include media-breakpoint-down(md) {
        .right-side {
            padding-left: 25px;
        }

        .language,
        .phone,
        .main-nav .link {
            margin-left: 25px;
        }

        &.mobile-dark {
            color: $dark;

            .page-scrolled & {
                background-color: white;
            }

            .logo {
                svg {
                    fill: $dark;
                }
            }

            .phone-button {
                .for-dark {
                    display: none;
                }

                .for-white {
                    display: block;
                }
            }
        }
    }

    @include media-breakpoint-down(sm) {
        .container {
            padding: 0 16px;
        }

        .hamburger-wrapper {
            right: 16px;
        }

        .language,
        .phone {
            display: none;
        }

        .phone-button {
            right: 60px;
        }
    }
}