.project-tile {
    margin-top: 38px;
    position: relative;
    color: white;
    display: block;
    font-weight: 300;

    &:before {
        content: '';
        display: block;
        padding-top: 66.6%;
    }

    .image {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: cover;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.2);
        }
    }

    .name {
        position: absolute;
        left: 50px;
        top: 45px;
        right: 50px;
    }

    .number {
        right: 50px;
        position: absolute;
        bottom: 45px;
        left: 50px;
        text-align: right;
    }

    @include media-breakpoint-down(md) {
        .name {
            left: 20px;
            top: 15px;
            right: 20px;
        }

        .number {
            right: 20px;
            bottom: 15px;
            left: 20px;
        }
    }

    @include media-breakpoint-down(sm) {
        margin-top: 24px;
    }
}