.scroll-navigation {
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .link {
        position: relative;
        margin: 0 25px;

        &:before {
            content: '';
            position: absolute;
            top: 100%;
            margin-top: 5px;
            width: 0;
            left: 0;
            border-bottom: 1px solid;
            transition: width .3s;
        }

        &:hover {
            &:before {
                width: 10px;
            }
        }

        &.active {
            &:before {
                width: 100%;
            }
        }
    }

    @media (max-width: 1240px) {
        .link {
            margin: 0 15px;
        }
    }

    @include media-breakpoint-down(md) {
        display: none;
    }
}