.show-by {
    position: absolute;
    left: 0;
    top: 50%;
    font-size: 18px;
    line-height: 36px;
    transform: translate(0, -50%);

    .uk-dropdown {
        text-align: left;
        padding: 10px;
        min-width: 80px;

        a {
            font-size: 18px;
        }
    }

    .uk-button {
        border-radius: 2px;
        margin: 0 5px;
        padding: 5px 10px;
        min-width: 83px;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        line-height: 36px;

        .icon {
            width: 10px;
            height: 10px;
            margin-left: 5px;
            margin-top: -5px;
        }
    }

    @include media-breakpoint-down(md) {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        text-align: center;
        margin-bottom: 40px;
    }

    @include media-breakpoint-down(sm) {
        font-size: 16px;
        margin-bottom: 30px;
    }
}