.step {
    margin-top: 80px;
    font-weight: 300;
    position: relative;

    & + .step {
        margin-top: 80px;
    }

    .image {
        width: 62%;
        position: relative;
        pointer-events: none;

        &:before {
            content: '';
            padding-top: 68%;
            display: block;
        }
    }

    .image-cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        text-align: center;

        img {
            display: inline-block;
            position: relative;
        }
    }

    .text {
        margin-top: 170px;
        width: 48%;
        margin-left: auto;
        position: relative;

        a {
            text-decoration: underline;
        }
    }

    .h2 {
        margin-top: 140px;
    }

    .number {
        width: 40%;
        padding-top: 40%;
        border-radius: 50%;
        border: 1px solid #FFF;
        font-size: 40px;
        line-height: 47px;
        text-align: center;
        color: #FFF;
        position: absolute;
        left: 50%;
        margin-left: -20%;
        top: 50%;
        margin-top: -20%;
        z-index: 2;

        span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &:nth-child(2n+2) {
        .image {
            margin-left: auto;
        }

        .number {
            left: auto;
            right: calc(65%/2);
        }

        .text {
            margin-left: 0;
        }
    }

    .number-mobile {
        display: none;
    }

    @include media-breakpoint-down(md) {
        margin-top: 50px;

        .image {
            width: 100%;
        }

        .number {
            display: none;
        }

        .text {
            width: 100%;
            margin-top: 60px;
            padding: 0 55px;
            transform: none !important;
        }

        .number-mobile {
            position: absolute;
            left: 0;
            top: 0;
            font-size: 28.6px;
            line-height: 34px;
            display: block;

            &:before {
                content: '';
                position: absolute;
                bottom: 18%;
                left: 100%;
                width: 6.5px;
                height: 6.5px;
                border: 1.3px solid #171717;
                border-radius: 50%;
                margin-left: 2px;
                box-sizing: border-box;
            }
        }

        .h1 {
            font-size: 30px;
            line-height: 35px;
        }

        .h2 {
            margin-top: 40px;
            font-size: 20px;
            line-height: 147.69%;
        }

        & + .step {
            margin-top: 120px;
        }
    }

    @include media-breakpoint-down(sm) {
        margin-top: 40px;

        & + .step {
            margin-top: 70px;
        }

        .h1 {
            font-size: 22px;
            line-height: 134.19%;
        }

        .text {
            margin-top: 30px;
            padding: 0 35px;
        }

        .h2 {
            font-size: 18px;
            line-height: 134.19%;
            margin-top: 15px;
        }

        .number-mobile {
            font-size: 22px;
            line-height: 134.19%;

            &:before {
                width: 5px;
                height: 5px;
                bottom: 20%;
            }
        }
    }
}