.tab {
    display: flex;
    justify-content: center;
    position: relative;

    .link {
        cursor: pointer;
        position: relative;
        margin: 0 25px;

        &:before {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            width: 0;
            border-bottom: 1px solid;
            margin-top: 5px;
            transition: width .3s;
        }

        &:hover {
            &:before {
                width: 15px;
            }
        }

        &.active {
            &:before {
                width: 100%;
            }
        }
    }

    .chevron-icon {
        display: none;
    }

    &.tabs-before-after,
    &.tab-steps {
        justify-content: flex-start;
        color: $dark;
        padding-bottom: 10px;
        margin-top: 40px;
        margin-left: -25px;
        margin-right: -25px;

        & + .content {
            padding-top: 80px;

            @include media-breakpoint-down(md) {
                padding-top: 50px;
            }
        }
    }

    &.tab-steps {
        justify-content: flex-start;
        flex-wrap: wrap;

        .link {
            margin: 10px 25px;
        }
    }

    @include media-breakpoint-down(md) {
        &.tabs-before-after,
        &.tab-steps {
            margin-left: 0;
            margin-right: 0;

            .chevron-icon {
                bottom: 11px;
            }
        }

        &.tab-steps {
            .link {
                margin: 0;
            }
        }

        .chevron-icon {
            display: block;
            position: absolute;
            right: 0;
            bottom: 6px;
            width: 18px;
            height: 18px;
        }

        .modal-toggle {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            cursor: pointer;
            z-index: 2;
        }

        .link {
            display: none;
            margin: 0;
            width: 100%;

            &:before {
                border-color: #DBDBDB;
                margin-top: 10px;
            }

            &.active {
                display: block;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        .chevron-icon {
            width: 12px;
            height: 12px;
            bottom: 7px;
        }

        &.tabs-before-after,
        &.tab-steps {
            .chevron-icon {
                bottom: 15px;
            }
        }
    }
}