.text-field,
.textarea {
    outline: 0;
    border: 0;
    width: 100%;
    background: none;
    border-bottom: 1px solid #E6E6E6;
    font-weight: 300;
    font-size: 16px;
    line-height: 133.69%;
    font-family: $font;
    padding: 9px 0;
    color: $dark;
    transition: border-color .3s;
    border-radius: 0;
    -webkit-appearance: none;

    &::placeholder {
        color: #8A8A8A;
        transition: all .3s;
    }

    &:focus {
        border-bottom: 1px solid #9b9b9b;

        &::placeholder {
            opacity: 0;
            text-indent: 20px;
        }

        .dark & {
            border-bottom: 1px solid #f0f0f0;
        }
    }

    .dark & {
        border-bottom: 1px solid #C4C4C4;
        color: white;

        &::placeholder {
            color: #717171;
        }
    }
}

.textarea {
    border: 1px solid #C4C4C4;
    padding: 13px 19px;
    height: 135px;
    resize: none;
    margin-top: 10px;
}

.form-group {
    margin-top: 40px;
}