.uk-slidenav {
    color: $dark;
}

.uk-dotnav > * > * {
    border: 0;
    background: none !important;

    &:before {
        width: 3px;
        height: 3px;
        border: 2px solid;
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transition: all .3s;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        box-sizing: border-box;
    }
}

.uk-dotnav > .uk-active > * {
    background-color: transparent;

    &:before {
        width: 10px;
        height: 10px;
    }
}

.uk-slideshow {
    position: relative;
}


.uk-slidenav-previous {
    margin-left: -110px;
}

.uk-slidenav-next {
    margin-right: -110px;
}

.uk-dotnav {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    color: white;
    margin-left: 0;
}

@include media-breakpoint-down(lg) {
    .uk-slidenav-previous {
        margin-left: -38px;
    }

    .uk-slidenav-next {
        margin-right: -38px;
    }
}

@include media-breakpoint-down(sm) {
    .uk-slidenav-previous,
    .uk-slidenav-next {
        opacity: 1;

        svg {
            transform: scale(.5);

            polyline {
                stroke-width: 3px;
            }
        }
    }

    .uk-dotnav {
        display: flex;
        align-items: center;
    }

    .dots-outside {
        .uk-dotnav {
            position: relative;
            color: $dark;
            margin-top: 20px;

            .dark & {
                color: white;
            }
        }
    }

    .uk-slidenav-previous {
        margin-left: 0;
    }

    .uk-slidenav-next {
        margin-right: 0;
    }

    .nav-mobile-outside {
        .uk-slidenav-previous {
            margin-left: -30px;
        }

        .uk-slidenav-next {
            margin-right: -30px;
        }

    }
}