.video {
    position: relative;
    cursor: pointer;
    overflow: hidden;

    &:before {
        content: '';
        padding-top: 56.25%;
        display: block;
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
    }

    .video-preview {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: cover;
        background-position: center;
        transition: opacity .5s 1.2s, transform 1.7s;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            background-color: black;
            opacity: 0.2;
            bottom: 0;
        }
    }

    .name {
        position: absolute;
        color: white;
        left: 80px;
        right: 80px;
        top: 75px;
        transition: opacity .3s;
    }

    .play {
        background-image: url("/assets/images/play.png");
        background-size: contain;
        width: 64px;
        height: 66px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: opacity 5s;
        transform-origin: center;
    }

    .anim-wrapper & .text {
        opacity: 0;
        transition: opacity .6s;
    }

    .showed & .text {
        opacity: 1;
        transition: opacity .6s .8s;
    }

    &.active {
        .video-preview {
            opacity: 0;
            pointer-events: none;
            transform: scale(1.2);
        }

        .name {
            opacity: 0;
        }

        .play {
            opacity: 0;
        }
    }

    @include media-breakpoint-down(md) {
        .name {
            top: 30px;
            left: 30px;
            right: 30px;
        }

        .play {
            width: 46px;
            height: 47px;
        }
    }

    @include media-breakpoint-down(sm) {
        .video-trigger {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 3;
            cursor: pointer;
        }

        .name {
            top: 19px;
            left: 20px;
            right: 20px;
            font-size: 14px;
            line-height: 18px;
        }
    }
}

.video-modal {
    .uk-modal-dialog {
        width: 100%;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
        }

        &:before {
            content: '';
            display: block;
            padding-top: 56.25%;
        }
    }
}