<section class="add-project add-project-v-2 dark">
    <div class="container regular">
        <div class="row">
            <div class="col col-12 col-lg-10 adding-area">
                <div class="h1">Добавить ваш проект к нам в портфолио</div>
                <form class="form col-lg-0" action="">
                    <div class="form-group">
                        <input required type="text" class="text-field" placeholder="Имя">
                    </div>
                    <div class="form-group">
                        <input required type="text" class="text-field" placeholder="Телефон">
                    </div>
                    <div class="form-group">
                        <textarea required type="text" class="textarea" placeholder="Расскажите о проекте"></textarea>
                    </div>
                    <div class="form-bottom">
                        <div class="left">
                            <button type="submit" class="button button-gray">Отправить</button>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input name="check" required type="checkbox" checked="checked">
                                <span class="checkbox-label">Нажимая на кнопку отправить, вы соглашаетесь с <a href="#" target="_blank"> политикой конфедициальности</a></span>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col col-lg-6 col-0 col-md-0 col-sm-0">
                <form class="form" action="">
                    <div class="form-group">
                        <input required type="text" class="text-field" placeholder="Имя">
                    </div>
                    <div class="form-group">
                        <input required type="text" class="text-field" placeholder="Телефон">
                    </div>
                    <div class="form-group">
                        <textarea required type="text" class="textarea" placeholder="Расскажите о проекте"></textarea>
                    </div>
                    <div class="form-bottom">
                        <div class="left">
                            <button type="submit" class="button button-gray">Отправить</button>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input name="check" required type="checkbox" checked="checked">
                                <span class="checkbox-label">Нажимая на кнопку отправить, вы соглашаетесь с <a href="#" target="_blank"> политикой конфедициальности</a></span>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>