<section class="client-feedback">
    <img class="bird" src="assets/images/bird-white.png" alt="">
    <div class="container middle-size">
        <div class="text-image">
            <div class="text">
                <div class="h1">От клиента получена благодарность о работе над проектом</div>
                <div class="description">
                    <p>Возможность вставить сюда описание проекта в любое количество строчек, например в две. Если вы решите заказать дизайн-проект квартиры или дома в нашей студии.</p>
                </div>
            </div>
            <div class="image">
                <img class="bird-mobile" src="assets/images/bird.png" alt="">
                <img src="assets/images/projects/client-feedback.jpg" alt="">
            </div>
        </div>
    </div>
</section>