<section class="clients">
    <div class="container">
        <div class="items owl-carousel">
            <img class="img" src="assets/images/clients/client-0.png" alt="">
            <img class="img" src="assets/images/clients/client-2.png" alt="">
            <img class="img" src="assets/images/clients/client-3.png" alt="">
            <img class="img" src="assets/images/clients/client-4.png" alt="">
            <img class="img" src="assets/images/clients/client-5.png" alt="">
            <img class="img" src="assets/images/clients/client-6.png" alt="">
            <img class="img" src="assets/images/clients/client-7.png" alt="">
        </div>
    </div>
</section>