<section class="dark contacts">
    <div class="container regular">
       <div class="text-center">
           <h1>Контакты</h1>
       </div>
        <ul class="contacts-nav" uk-switcher="connect: .switcher-contact; animation: uk-animation-slide-left-medium, uk-animation-slide-right-medium">
            <li><a href="#">Екатеринбург</a></li>
            <li><a href="#">Москва</a></li>
        </ul>
        <ul class="uk-switcher switcher-contact uk-margin">
            <li>
                <div class="row">
                    <div class="col col-12 col-lg-4 text">
                        <p><b>Екатерибург</b></p>
                        <p class="light"> +7 (909) 704-69-55
                            <br>+7 (343) 219-17-01</p>
                        <p class="light">пн-пт 9:30-19:00</p>
                        <p class="light">info@archstudio40.ru</p>
                        <p class="light">Адрес: г. Екатеринбург ул. Горького, д. 26 4 этаж, Mansarda Design Place</p>
                    </div>
                    <div class="col col-12 col-lg-1"></div>
                    <div class="col col-12 col-lg-7">
                        <div class="map">
                            <div class="map-container" id="map1"></div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="col col-12 col-lg-4 text">
                        <p><b>Москва</b></p>
                        <p class="light"> +7 (909) 704-69-55
                            <br>+7 (343) 219-17-01</p>
                        <p class="light">пн-пт 9:30-19:00</p>
                        <p class="light">info@archstudio40.ru</p>
                        <p class="light">Адрес: г. Екатеринбург ул. Горького, д. 26 4 этаж, Mansarda Design Place</p>
                    </div>
                    <div class="col col-12 col-lg-1"></div>
                    <div class="col col-12 col-lg-7">
                        <div class="map">
                            <div class="map-container" id="map2"></div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
<script>
    var map;

    <!--todo Wrong solution, Need review -->
    function initMap() {
        var latlng = new google.maps.LatLng("56.831067", "60.607902");
        map = new google.maps.Map(document.getElementById('map1'), {
            center: latlng,
            zoom: 15,
            disableDefaultUI: true,
            navigationControlOptions: {
                style: google.maps.NavigationControlStyle.SMALL
            },
        });
        var marker = new google.maps.Marker({
            position: latlng,
            map: map,
            title: "улица Горького, 26",
            icon: {
                url: "assets/images/map-baloon.png",
                scaledSize: new google.maps.Size(80, 85)
            }
        });

        var latlng2 = new google.maps.LatLng("56.831067", "60.607902");
        var map2 = new google.maps.Map(document.getElementById('map2'), {
            center: latlng2,
            zoom: 15,
            disableDefaultUI: true,
            navigationControlOptions: {
                style: google.maps.NavigationControlStyle.SMALL
            },
        });
        var marker2 = new google.maps.Marker({
            position: latlng2,
            map: map2,
            title: "улица Горького, 26",
            icon: {
                url: "assets/images/map-baloon.png",
                scaledSize: new google.maps.Size(80, 85)
            }
        });
    }
</script>