<div class="feedback dark">
    <a href="#" class="close-button js-feedback-close">
        <svg class="icon"><use xlink:href="assets/icons/sprite.svg#close"></use></svg>
    </a>
    <div class="container narrow">
        <div class="h1 title">Оставить заявку на консультацию по заказу проекта</div>
        <p class="description">Оставьте заявку, заполнив форму ниже, и наш менеджер свяжиться с вами в течении одного часа.</p>
        <form class="form" action="">
            <div class="form-group">
                <input type="text" class="text-field" placeholder="Имя">
            </div>
            <div class="form-group">
                <input required="" type="text" class="text-field" placeholder="Телефон">
            </div>
            <div class="form-group">
                <textarea required="" type="text" class="textarea" placeholder="Ваш вопрос"></textarea>
            </div>
            <div class="form-bottom">
                <div class="left">
                    <button type="submit" class="button button-gray">Отправить</button>
                </div>
                <div class="checkbox">
                    <label>
                        <input name="check" required="" type="checkbox" checked="checked">
                        <span class="checkbox-label">Нажимая на кнопку отправить, вы соглашаетесь с <a href="#" target="_blank"> политикой конфедициальности</a></span>
                    </label>
                </div>
            </div>
        </form>
    </div>
    <div class="success-message">
        <div class="container narrow">
            <h2 class="h1 title">Заявка успешно отправлена!</h2>
            <p class="description">А пока наш менеджер обрабатывает вашу заявку, предлагаем вам полистать наше портфолио:</p>
            <div class="buttons">
                <a href="/portfolio.html" class="button button-gray">Перейти к портфолио</a>
                <a href="/" class="link">На главную</a>
            </div>
            <img class="bird" src="/assets/images/keyvisual.png" alt="">
        </div>
    </div>
</div>