<section class="dark geography">
    <div class="h1">География проектов</div>
    <div class="geo-container">
        <div class="uk-position-relative">
            <div class="image">
                <img src="/assets/images/russian.png" alt="">
            </div>
            {% for point in mapPoints %}
                <div class="point" style="bottom: {{ point.bottom }}; left: {{ point.left }}">
                    <div class="marker-geo">
                        <div class="marker-number">{{ point.number }}</div>
                        <div class="hover-tooltip">
                            <div class="number">{{ point.number }}</div>
                            <div class="caption"> {{ point.name }}</div>
                        </div>
                    </div>
                    <div class="point-tooltip">
                        <span class="close"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="close"><path fill="none" stroke="#000" stroke-width="1.06" d="M16,16 L4,4"></path><path fill="none" stroke="#000" stroke-width="1.06" d="M16,4 L4,16"></path></svg></span>
                        <div uk-slideshow="animation: fade">
                            <div class="uk-position-relative uk-light" tabindex="-1">
                                <ul class="uk-slideshow-items">
                                    <li class="item">
                                        <div class="title">ЖК Чемпион парк</div>
                                        <div class="image-wrap">
                                            <img src="/assets/images/slider-image.jpg" alt="">
                                        </div>
                                        <div class="text uk-position-center uk-position-small uk-text-center"><a href="#" class="link">Подробнее</a></div>
                                    </li>
                                    <li class="item">
                                        <div class="title">Другой проект</div>
                                        <div class="image-wrap">
                                            <img src="/assets/images/slider-image-2.png" alt="">
                                        </div>
                                        <div class="text uk-position-center uk-position-small uk-text-center"><a href="#" class="link">Подробнее</a></div>
                                    </li>
                                </ul>
                                <a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                                <a class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
                            </div>
                        </div>
                        <a href="/portfolio.html" class="link">Все проекты</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>