<section class="dark get-question">
    <div class="container regular">
        <div class="row-qu">
            <div class="left-side">
                <h1 class="title">Задать вопрос руководителям студии&nbsp;40</h1>
                <p class="description light">Коротко о руководителях студии и о том, что им можно задать вопрос. Если реализацией проекта занимаются профессионалы и ведется авторский и технический надзоры - результат всегда будет лучше проекта</p>
                <div class="form-wrapper">
                    <form class="form" action="">
                        <div class="form-group">
                            <input type="text" class="text-field" placeholder="Имя">
                        </div>
                        <div class="form-group">
                            <input required type="text" class="text-field" placeholder="Телефон">
                        </div>
                        <div class="form-group">
                            <textarea required type="text" class="textarea" placeholder="Ваш вопрос"></textarea>
                        </div>
                        <div class="form-bottom">
                            <div class="left">
                                <button type="submit" class="button button-gray">Отправить</button>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="check" required type="checkbox" checked="checked">
                                    <span class="checkbox-label">Нажимая на кнопку отправить, вы соглашаетесь с <a href="#" target="_blank"> политикой конфедициальности</a></span>
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="right-side">
                <div class="image-wrap">
                    <img class="image" src="assets/images/get-question-image.jpg" alt="">
                    <div class="name name-1">Наталья Сорока</div>
                    <div class="name name-2">Владислав Сорока</div>
                </div>
            </div>
        </div>
    </div>
</section>