<section class="homepage-comparing">
    <div class="container narrow">
        <div class="header-page">
            <div class="text-center">
                <h1>До / После</h1>
                <div class="caption">Опасаетесь, что в дизайн-проекте все красиво нарисовано, но проект невозможно реализовать? Напрасно! Если реализацией проекта занимаются профессионалы и ведется авторский и технический надзоры - результат всегда будет лучше проекта</div>
            </div>
        </div>
    </div>
    <div class="container regular nav-mobile-outside dots-outside">
        <div class="anim-wrapper">
            <div class="slideshow-comparing" uk-slideshow="draggable:false; animation: fade">
                <div class="image-filler"></div>
                <div class="uk-position-relative" tabindex="-1">
                    <ul class="uk-slideshow-items">
                        <li>
                            <div class="item compare cocoen">
                                <div class="image">
                                    <img src="assets/images/slider-image-2.png" alt="">
                                </div>
                                <div class="image">
                                    <img src="assets/images/slider-image-2-grayscale.png" alt="">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item compare cocoen">
                                <div class="image">
                                    <img src="assets/images/slider-image-2-grayscale.png" alt="">
                                </div>
                                <div class="image">
                                    <img src="assets/images/slider-image-2.png" alt="">
                                </div>
                            </div>
                        </li>
                    </ul>
                    <a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                    <a class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
                </div>
                <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin-medium-bottom"></ul>
            </div>
        </div>
    </div>
</section>