<section class="dark image-slider">
    <div class="anim-wrapper">
        <div class="container regular">
            <div uk-slideshow="animation: fade">
                <div class="image-filler"></div>
                <div class="uk-position-relative uk-light" tabindex="-1">
                    <ul class="uk-slideshow-items">
                        <li>
                            <img src="/assets/images/slider-image.jpg" alt="" uk-cover>
                            <div class="text">
                                <h2 class="name" uk-slideshow-parallax="x: 50,0,-100">ЖК Небо Плаза</h2>
                                <div class="uk-position-center uk-position-small uk-text-center">
                                    <a href="#" class="link" uk-slideshow-parallax="x: 50,-50">Подробнее</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <img src="/assets/images/slider-image-2.png" alt="" uk-cover>
                            <div class="text">
                                <h2 class="name" uk-slideshow-parallax="x: 50,0,-100">Плаза ЖК Небо</h2>
                                <div class="uk-position-center uk-position-small uk-text-center">
                                    <a href="#" class="link" uk-slideshow-parallax="x: 50,-50">Подробнее</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                    <a class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
                </div>
                <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin-medium-bottom"></ul>
            </div>
            <div class="uk-text-center">
                <a href="/portfolio.html" class="button">Все проекты</a>
            </div>
        </div>
    </div>
</section>