<section class="instagram-tiles">
    <div class="container regular">
        <div class="header-part">
            <h1>Проекты, над которыми мы работаем прямо сейчас удобно посмотреть в нашем <span class="hide-md">Instagram</span>
                <a href="#" class="social-link" target="_blank">
                    <span class="caption">Instagram</span>
                    <svg class="icon"><use xlink:href="assets/icons/sprite.svg#instagram-brands"></use></svg>
                </a>
            </h1>
        </div>
        <div class="items">
            <a href="#" target="_blank" class="item">
                <img src="assets/images/inst-1.jpg" alt="">
            </a>
            <a href="#" target="_blank" class="item">
                <img src="assets/images/inst-2.jpg" alt="">
            </a>
            <a href="#" target="_blank" class="item">
                <img src="assets/images/inst-3.jpg" alt="">
            </a>
        </div>
    </div>
</section>