<section class="dark keyvisual">
    <div class="container regular desktop-part">
        <div class="content-wrapper">
            <div class="image bird-image">
                {% include "../../svg/bird.twig" %}
            </div>
            <div class="text">
                <div class="text-container">
                    <h1 class="title">Создаем общественные <br>и жилые интерьеры</h1>
                    <div class="buttons">
                        <a href="/portfolio.html" class="link-to link-1"><div class="line"></div>ПОРТФОЛИО</a>
                        <div class="link-to link-2 js-feedback-open"><div class="line"></div>ЗАКАЗАТЬ ПРОЕКТ</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social-links">
            <a href="#" target="_blank" class="link">
                <svg class="icon"><use xlink:href="assets/icons/sprite.svg#facebook-f-brands"></use></svg>
            </a>
            <a href="#" target="_blank" class="link">
                <svg class="icon"><use xlink:href="assets/icons/sprite.svg#instagram-brands"></use></svg>
            </a>
        </div>
    </div>
    <div data-href="#anchor-id-1" class="scroll-to js-scroll-to desktop-part">
        <svg class="icon"><use xlink:href="assets/icons/sprite.svg#scroll-to"></use></svg>
    </div>
    <div class="mobile-part">
        <div class="keyvisual-slider owl-carousel">
            <img class="image" src="/assets/images/keyvisual-mobile.jpg" alt="">
            <img class="image" src="/assets/images/keyvisual-mobile-2.jpg" alt="">
        </div>
        <div class="text">
            <div class="container regular">
                <h1>Создаем общественные и жилые интерьеры</h1>
                <div class="buttons">
                    <a href="/portfolio.html" class="link-to">ПОРТФОЛИО</a>
                    <div class="link-to js-feedback-open">ЗАКАЗАТЬ ПРОЕКТ</div>
                </div>
            </div>
        </div>
    </div>
</section>