<section class="dark points">
    <div class="container regular">
        <div class="points-carousel owl-carousel">
            <div class="item">
                <div class="line"></div>
                <svg class="icon" width="109" height="109" viewBox="0 0 109 109" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.449951 74.2999L17.25 50.4999H19.15V74.5499H24.95V76.1999H19.15V84.9999H17.25V76.1999H0.449951V74.2999ZM17.25 74.5499V53.0999H17.15L2.34995 74.5499H17.25Z" fill="white"/>
                    <path d="M30.4832 73.5999C30.4165 75.1999 30.5998 76.6499 31.0332 77.9499C31.4998 79.2166 32.1665 80.2999 33.0332 81.1999C33.8998 82.0666 34.9665 82.7499 36.2332 83.2499C37.4998 83.7166 38.9332 83.9499 40.5332 83.9499C41.7998 83.9499 43.0332 83.7666 44.2332 83.3999C45.4332 83.0332 46.4832 82.4999 47.3832 81.7999C48.3165 81.0666 49.0498 80.1666 49.5832 79.0999C50.1498 78.0332 50.4332 76.8166 50.4332 75.4499C50.4332 73.8166 50.0998 72.4666 49.4332 71.3999C48.7665 70.2999 47.8832 69.4499 46.7832 68.8499C45.6832 68.2499 44.4332 67.8499 43.0332 67.6499C41.6665 67.4499 40.2665 67.3999 38.8332 67.4999V65.8499C40.0998 65.9166 41.3665 65.8666 42.6332 65.6999C43.9332 65.4999 45.0998 65.1332 46.1332 64.5999C47.1665 64.0332 47.9998 63.2666 48.6332 62.2999C49.2998 61.3332 49.6332 60.0999 49.6332 58.5999C49.6332 57.3999 49.3498 56.3499 48.7832 55.4499C48.2498 54.5499 47.5332 53.8166 46.6332 53.2499C45.7665 52.6832 44.7832 52.2666 43.6832 51.9999C42.6165 51.6999 41.5665 51.5499 40.5332 51.5499C39.0332 51.5499 37.7165 51.7999 36.5832 52.2999C35.4498 52.7999 34.4998 53.4832 33.7332 54.3499C32.9998 55.2166 32.4332 56.2499 32.0332 57.4499C31.6332 58.6499 31.3998 59.9666 31.3332 61.3999H29.4332C29.4332 59.6999 29.6832 58.1499 30.1832 56.7499C30.7165 55.3166 31.4665 54.0999 32.4332 53.0999C33.3998 52.0999 34.5665 51.3166 35.9332 50.7499C37.2998 50.1832 38.8332 49.8999 40.5332 49.8999C41.9332 49.8999 43.2832 50.0666 44.5832 50.3999C45.9165 50.7332 47.0832 51.2499 48.0832 51.9499C49.1165 52.6499 49.9498 53.5499 50.5832 54.6499C51.2165 55.7499 51.5332 57.0666 51.5332 58.5999C51.5332 59.6332 51.3665 60.5999 51.0332 61.4999C50.7332 62.3999 50.2832 63.1999 49.6832 63.8999C49.0832 64.5999 48.3665 65.1832 47.5332 65.6499C46.6998 66.0832 45.7832 66.3666 44.7832 66.4999V66.5999C45.9498 66.7332 46.9998 67.0499 47.9332 67.5499C48.8665 68.0499 49.6498 68.6999 50.2832 69.4999C50.9498 70.2666 51.4498 71.1666 51.7832 72.1999C52.1498 73.1999 52.3332 74.2832 52.3332 75.4499C52.3332 77.1499 52.0165 78.6332 51.3832 79.8999C50.7498 81.1666 49.8998 82.2332 48.8332 83.0999C47.7665 83.9332 46.5165 84.5666 45.0832 84.9999C43.6498 85.3999 42.1332 85.5999 40.5332 85.5999C38.6332 85.5999 36.9165 85.3332 35.3832 84.7999C33.8832 84.2666 32.5998 83.4999 31.5332 82.4999C30.4998 81.4666 29.7165 80.2166 29.1832 78.7499C28.6832 77.2499 28.4832 75.5332 28.5832 73.5999H30.4832Z" fill="white"/>
                    <path d="M56.0164 74.2999L72.8164 50.4999H74.7164V74.5499H80.5164V76.1999H74.7164V84.9999H72.8164V76.1999H56.0164V74.2999ZM72.8164 74.5499V53.0999H72.7164L57.9164 74.5499H72.8164Z" fill="white"/>
                    <path d="M99.9498 36.4997V26.1497" stroke="white" stroke-width="1.5"/>
                    <mask id="path-4-inside-1" fill="white">
                        <rect x="85" y="25" width="23" height="23" rx="1"/>
                    </mask>
                    <rect x="85" y="25" width="23" height="23" rx="1" stroke="white" stroke-width="3" mask="url(#path-4-inside-1)"/>
                    <path d="M86.1498 46.85L99.9498 36.5H107.425" stroke="white" stroke-width="1.5"/>
                </svg>
                <h2 class="title">Проекты в 40 городах россии</h2>
            </div>
            <div class="item">
                <div class="line"></div>
                <svg class="icon" width="109" height="109" viewBox="0 0 109 109" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M79.0685 33.7162L79.0685 33.7163L79.0772 33.7176C79.9109 33.8421 80.2656 34.9291 79.6101 35.5336L79.602 35.541L79.5942 35.5487L74.6177 40.4143L74.3419 40.684L74.4008 41.0652L75.4754 48.0161L75.4754 48.0161L75.4768 48.0249C75.6254 48.9155 74.7012 49.5286 73.9729 49.1153L73.9729 49.1153L73.9647 49.1107L68.0567 45.8544L68.0464 45.8488L68.0359 45.8434L67.8929 45.7703L67.5487 45.5945L67.2057 45.7728L61.0832 48.956L61.0807 48.9573C60.3406 49.3456 59.4125 48.7016 59.5876 47.7868L59.5877 47.7868L59.589 47.7795L60.8423 40.8652L60.9114 40.4838L60.6403 40.2068L55.7711 35.2316L55.7712 35.2315L55.7621 35.2226C55.1485 34.6165 55.4975 33.5239 56.3788 33.3885L63.1756 32.4751L63.5827 32.4204L63.7558 32.0478L66.8614 25.3641C67.1409 24.8545 67.4399 24.752 67.6947 24.752H67.7138L67.7329 24.751C68.118 24.7313 68.5592 25.0095 68.7287 25.3711L71.6977 32.1777L71.8614 32.553L72.2656 32.6183L79.0685 33.7162Z" stroke="white" stroke-width="1.5"/>
                    <path d="M0 85.1C0.1 83.5 0.466667 82.0667 1.1 80.8C1.73333 79.5 2.53333 78.3333 3.5 77.3C4.5 76.2333 5.6 75.25 6.8 74.35C8.03333 73.45 9.28333 72.5833 10.55 71.75C11.7833 70.9167 13 70.0833 14.2 69.25C15.4 68.3833 16.4667 67.4667 17.4 66.5C18.3667 65.5333 19.1333 64.4833 19.7 63.35C20.2667 62.1833 20.55 60.8667 20.55 59.4C20.55 58.2333 20.3167 57.1833 19.85 56.25C19.3833 55.2833 18.75 54.4667 17.95 53.8C17.1833 53.1 16.2833 52.5667 15.25 52.2C14.25 51.8333 13.1833 51.65 12.05 51.65C10.4833 51.65 9.11667 51.9333 7.95 52.5C6.78333 53.0333 5.81667 53.7833 5.05 54.75C4.28333 55.6833 3.7 56.8 3.3 58.1C2.93333 59.3667 2.75 60.75 2.75 62.25H0.85C1.05 58.05 2.05 54.9667 3.85 53C5.68333 51 8.31667 50 11.75 50C13.2167 50 14.6 50.2 15.9 50.6C17.2 50.9667 18.3333 51.55 19.3 52.35C20.2667 53.1167 21.0333 54.1 21.6 55.3C22.1667 56.4667 22.45 57.85 22.45 59.45C22.45 61.4833 21.9667 63.2833 21 64.85C20.0667 66.3833 18.8667 67.7833 17.4 69.05C15.9667 70.3167 14.4 71.5 12.7 72.6C11.0333 73.7 9.45 74.8 7.95 75.9C6.48333 76.9667 5.21667 78.1 4.15 79.3C3.11667 80.4667 2.53333 81.7667 2.4 83.2H23V85.1H0Z" fill="white"/>
                    <path d="M39.3832 85.7C36.8832 85.7 34.8332 85.1667 33.2332 84.1C31.6332 83 30.3499 81.6 29.3832 79.9C28.4499 78.1667 27.7999 76.25 27.4332 74.15C27.0665 72.0167 26.8832 69.9167 26.8832 67.85C26.8832 65.7833 27.0665 63.7 27.4332 61.6C27.7999 59.4667 28.4499 57.55 29.3832 55.85C30.3499 54.1167 31.6332 52.7167 33.2332 51.65C34.8332 50.55 36.8832 50 39.3832 50C41.8832 50 43.9332 50.55 45.5332 51.65C47.1332 52.7167 48.3999 54.1167 49.3332 55.85C50.2999 57.55 50.9665 59.4667 51.3332 61.6C51.6999 63.7 51.8832 65.7833 51.8832 67.85C51.8832 69.9167 51.6999 72.0167 51.3332 74.15C50.9665 76.25 50.2999 78.1667 49.3332 79.9C48.3999 81.6 47.1332 83 45.5332 84.1C43.9332 85.1667 41.8832 85.7 39.3832 85.7ZM39.3832 84.05C41.5165 84.05 43.2665 83.5333 44.6332 82.5C46.0332 81.4667 47.1165 80.15 47.8832 78.55C48.6832 76.95 49.2332 75.2 49.5332 73.3C49.8332 71.4 49.9832 69.5833 49.9832 67.85C49.9832 66.1167 49.8332 64.3 49.5332 62.4C49.2332 60.5 48.6832 58.75 47.8832 57.15C47.1165 55.55 46.0332 54.2333 44.6332 53.2C43.2665 52.1667 41.5165 51.65 39.3832 51.65C37.2165 51.65 35.4499 52.1667 34.0832 53.2C32.7165 54.2333 31.6332 55.55 30.8332 57.15C30.0665 58.75 29.5332 60.5 29.2332 62.4C28.9332 64.3 28.7832 66.1167 28.7832 67.85C28.7832 69.5833 28.9332 71.4 29.2332 73.3C29.5332 75.2 30.0665 76.95 30.8332 78.55C31.6332 80.15 32.7165 81.4667 34.0832 82.5C35.4499 83.5333 37.2165 84.05 39.3832 84.05Z" fill="white"/>
                </svg>
                <h2 class="title">Среди заказчиков студии управление делами президента россии</h2>
            </div>
            <div class="item">
                <div class="line"></div>
                <svg class="icon" width="109" height="109" viewBox="0 0 109 109" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <mask id="path-2-inside-1" fill="white">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M71.9751 42.7321C71.9739 42.7308 71.9739 42.7288 71.9751 42.7275C73.8311 40.7385 74.9669 38.0686 74.9669 35.1335C74.9669 28.9846 69.9823 24 63.8334 24C57.6846 24 52.7 28.9846 52.7 35.1335C52.7 38.0686 53.8357 40.7385 55.6918 42.7275C55.693 42.7288 55.693 42.7308 55.6917 42.7321C55.6904 42.7334 55.6904 42.7354 55.6917 42.7367L55.9236 42.9686C55.9484 42.9936 55.9733 43.0185 55.9983 43.0433L62.4192 49.4642C63.2003 50.2453 64.4666 50.2453 65.2476 49.4642L71.6687 43.0432C71.6936 43.0185 71.7184 42.9937 71.7431 42.9687L71.9751 42.7367C71.9764 42.7354 71.9764 42.7334 71.9751 42.7321Z"/>
                    </mask>
                    <path d="M55.9236 42.9686L56.9893 41.913L56.9843 41.908L55.9236 42.9686ZM55.9983 43.0433L57.059 41.9826L57.0539 41.9776L55.9983 43.0433ZM71.6687 43.0432L70.613 41.9776L70.608 41.9825L71.6687 43.0432ZM71.7431 42.9687L70.6825 41.908L70.6775 41.913L71.7431 42.9687ZM62.4192 49.4642L61.3586 50.5249L62.4192 49.4642ZM55.6917 42.7367L56.7524 41.6761L55.6917 42.7367ZM55.6918 42.7275L56.7885 41.7041L55.6918 42.7275ZM71.9751 42.7275L73.0717 43.7509L71.9751 42.7275ZM73.4669 35.1335C73.4669 37.6739 72.4855 39.9818 70.8784 41.7041L73.0717 43.7509C75.1767 41.4951 76.4669 38.4633 76.4669 35.1335H73.4669ZM63.8334 25.5C69.1539 25.5 73.4669 29.8131 73.4669 35.1335H76.4669C76.4669 28.1562 70.8107 22.5 63.8334 22.5V25.5ZM54.2 35.1335C54.2 29.8131 58.513 25.5 63.8334 25.5V22.5C56.8562 22.5 51.2 28.1562 51.2 35.1335H54.2ZM56.7885 41.7041C55.1813 39.9818 54.2 37.6739 54.2 35.1335H51.2C51.2 38.4633 52.4902 41.4951 54.5951 43.7509L56.7885 41.7041ZM56.9843 41.908L56.7524 41.6761L54.6311 43.7974L54.863 44.0293L56.9843 41.908ZM57.0539 41.9776C57.0323 41.9562 57.0107 41.9346 56.9893 41.913L54.858 44.0243C54.8861 44.0526 54.9143 44.0808 54.9426 44.1089L57.0539 41.9776ZM63.4799 48.4036L57.0589 41.9826L54.9376 44.1039L61.3586 50.5249L63.4799 48.4036ZM70.608 41.9825L64.187 48.4036L66.3083 50.5249L72.7293 44.1038L70.608 41.9825ZM70.6775 41.913C70.6561 41.9347 70.6346 41.9562 70.613 41.9776L72.7243 44.1088C72.7526 44.0808 72.7808 44.0527 72.8088 44.0244L70.6775 41.913ZM70.9145 41.6761L70.6825 41.9081L72.8038 44.0294L73.0358 43.7974L70.9145 41.6761ZM61.3586 50.5249C62.7254 51.8917 64.9415 51.8917 66.3083 50.5249L64.187 48.4036C63.9917 48.5988 63.6751 48.5988 63.4799 48.4036L61.3586 50.5249ZM54.631 41.6714C54.044 42.2585 54.044 43.2103 54.6311 43.7974L56.7524 41.6761C57.3369 42.2606 57.3369 43.2082 56.7524 43.7927L54.631 41.6714ZM54.5951 43.7509C54.045 43.1614 54.0607 42.2418 54.631 41.6714L56.7524 43.7927C57.3253 43.2198 57.341 42.2962 56.7885 41.7041L54.5951 43.7509ZM73.0358 43.7974C73.6229 43.2103 73.6229 42.2585 73.0358 41.6714L70.9145 43.7927C70.33 43.2082 70.33 42.2606 70.9145 41.6761L73.0358 43.7974ZM70.8784 41.7041C70.3258 42.2963 70.3416 43.2199 70.9145 43.7927L73.0358 41.6714C73.6061 42.2418 73.6219 43.1613 73.0717 43.7509L70.8784 41.7041Z" fill="white" mask="url(#path-2-inside-1)"/>
                    <circle cx="63.6919" cy="34.9923" r="1.9398" fill="white"/>
                    <path d="M0 84.9999C0.1 83.3999 0.466667 81.9666 1.1 80.6999C1.73333 79.3999 2.53333 78.2332 3.5 77.1999C4.5 76.1332 5.6 75.1499 6.8 74.2499C8.03333 73.3499 9.28333 72.4832 10.55 71.6499C11.7833 70.8166 13 69.9832 14.2 69.1499C15.4 68.2832 16.4667 67.3666 17.4 66.3999C18.3667 65.4332 19.1333 64.3832 19.7 63.2499C20.2667 62.0832 20.55 60.7666 20.55 59.2999C20.55 58.1332 20.3167 57.0832 19.85 56.1499C19.3833 55.1832 18.75 54.3666 17.95 53.6999C17.1833 52.9999 16.2833 52.4666 15.25 52.0999C14.25 51.7332 13.1833 51.5499 12.05 51.5499C10.4833 51.5499 9.11667 51.8332 7.95 52.3999C6.78333 52.9332 5.81667 53.6832 5.05 54.6499C4.28333 55.5832 3.7 56.6999 3.3 57.9999C2.93333 59.2666 2.75 60.6499 2.75 62.1499H0.85C1.05 57.9499 2.05 54.8666 3.85 52.8999C5.68333 50.8999 8.31667 49.8999 11.75 49.8999C13.2167 49.8999 14.6 50.0999 15.9 50.4999C17.2 50.8666 18.3333 51.4499 19.3 52.2499C20.2667 53.0166 21.0333 53.9999 21.6 55.1999C22.1667 56.3666 22.45 57.7499 22.45 59.3499C22.45 61.3832 21.9667 63.1832 21 64.7499C20.0667 66.2832 18.8667 67.6832 17.4 68.9499C15.9667 70.2166 14.4 71.3999 12.7 72.4999C11.0333 73.5999 9.45 74.6999 7.95 75.7999C6.48333 76.8666 5.21667 77.9999 4.15 79.1999C3.11667 80.3666 2.53333 81.6666 2.4 83.0999H23V84.9999H0Z" fill="white"/>
                    <path d="M30.1332 76.4999C30.5332 78.6999 31.4832 80.4999 32.9832 81.8999C34.5165 83.2666 36.4499 83.9499 38.7832 83.9499C40.3499 83.9499 41.6999 83.6666 42.8332 83.0999C43.9999 82.4999 44.9832 81.7332 45.7832 80.7999C46.5832 79.8332 47.2332 78.7332 47.7332 77.4999C48.2332 76.2666 48.6165 74.9999 48.8832 73.6999C49.1499 72.3999 49.3332 71.1166 49.4332 69.8499C49.5332 68.5832 49.5832 67.4332 49.5832 66.3999L49.4832 66.2999C49.1165 67.2666 48.6332 68.1666 48.0332 68.9999C47.4665 69.8332 46.7665 70.5832 45.9332 71.2499C45.0999 71.8832 44.1332 72.3832 43.0332 72.7499C41.9665 73.1166 40.7665 73.2999 39.4332 73.2999C37.6999 73.2999 36.1165 73.0166 34.6832 72.4499C33.2499 71.8499 32.0165 71.0332 30.9832 69.9999C29.9832 68.9332 29.1999 67.6832 28.6332 66.2499C28.0665 64.8166 27.7832 63.2332 27.7832 61.4999C27.7832 59.7999 28.0665 58.2499 28.6332 56.8499C29.2332 55.4166 30.0499 54.1832 31.0832 53.1499C32.1165 52.1166 33.3332 51.3166 34.7332 50.7499C36.1665 50.1832 37.7332 49.8999 39.4332 49.8999C40.2999 49.8999 41.1999 49.9832 42.1332 50.1499C43.0999 50.3166 44.0165 50.6166 44.8832 51.0499C45.7832 51.4499 46.6332 52.0332 47.4332 52.7999C48.2332 53.5666 48.9332 54.5499 49.5332 55.7499C50.1332 56.9166 50.5999 58.3499 50.9332 60.0499C51.2999 61.7499 51.4832 63.7499 51.4832 66.0499C51.4832 67.4499 51.4165 68.9166 51.2832 70.4499C51.1499 71.9499 50.8999 73.4332 50.5332 74.8999C50.1999 76.3332 49.7332 77.6999 49.1332 78.9999C48.5332 80.2999 47.7499 81.4499 46.7832 82.4499C45.8499 83.4166 44.7165 84.1832 43.3832 84.7499C42.0832 85.3166 40.5499 85.5999 38.7832 85.5999C35.8499 85.5999 33.4332 84.8166 31.5332 83.2499C29.6665 81.6832 28.5665 79.4332 28.2332 76.4999H30.1332ZM39.4332 71.6499C40.8665 71.6499 42.1665 71.3832 43.3332 70.8499C44.5332 70.3166 45.5665 69.5999 46.4332 68.6999C47.2999 67.7666 47.9665 66.6832 48.4332 65.4499C48.9332 64.2166 49.1832 62.8999 49.1832 61.4999C49.1832 60.1332 48.9332 58.8499 48.4332 57.6499C47.9332 56.4166 47.2499 55.3499 46.3832 54.4499C45.5165 53.5499 44.4832 52.8499 43.2832 52.3499C42.1165 51.8166 40.8332 51.5499 39.4332 51.5499C38.0332 51.5499 36.7332 51.8166 35.5332 52.3499C34.3665 52.8832 33.3499 53.5999 32.4832 54.4999C31.6165 55.3999 30.9332 56.4666 30.4332 57.6999C29.9332 58.8999 29.6832 60.1666 29.6832 61.4999C29.6832 62.8666 29.9332 64.1666 30.4332 65.3999C30.9332 66.6332 31.6165 67.7166 32.4832 68.6499C33.3499 69.5499 34.3665 70.2832 35.5332 70.8499C36.7332 71.3832 38.0332 71.6499 39.4332 71.6499Z" fill="white"/>
                </svg>
                <h2 class="title">Умеем работать с разными бюджетами</h2>
            </div>
            <div class="item">
                <div class="line"></div>
                <svg class="icon" width="109" height="109" viewBox="0 0 109 109" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.25 54.1999C8.01667 55.4999 6.6 56.5166 5 57.2499C3.4 57.9832 1.73333 58.4332 0 58.5999V56.9499C2 56.6499 3.81667 55.9499 5.45 54.8499C7.08333 53.7499 8.41667 52.2999 9.45 50.4999H11.15V84.9999H9.25V54.1999Z" fill="white"/>
                    <path d="M36.2832 85.5999C33.7832 85.5999 31.7332 85.0666 30.1332 83.9999C28.5332 82.8999 27.2499 81.4999 26.2832 79.7999C25.3499 78.0666 24.6999 76.1499 24.3332 74.0499C23.9665 71.9166 23.7832 69.8166 23.7832 67.7499C23.7832 65.6832 23.9665 63.5999 24.3332 61.4999C24.6999 59.3666 25.3499 57.4499 26.2832 55.7499C27.2499 54.0166 28.5332 52.6166 30.1332 51.5499C31.7332 50.4499 33.7832 49.8999 36.2832 49.8999C38.7832 49.8999 40.8332 50.4499 42.4332 51.5499C44.0332 52.6166 45.2999 54.0166 46.2332 55.7499C47.1999 57.4499 47.8665 59.3666 48.2332 61.4999C48.5999 63.5999 48.7832 65.6832 48.7832 67.7499C48.7832 69.8166 48.5999 71.9166 48.2332 74.0499C47.8665 76.1499 47.1999 78.0666 46.2332 79.7999C45.2999 81.4999 44.0332 82.8999 42.4332 83.9999C40.8332 85.0666 38.7832 85.5999 36.2832 85.5999ZM36.2832 83.9499C38.4165 83.9499 40.1665 83.4332 41.5332 82.3999C42.9332 81.3666 44.0165 80.0499 44.7832 78.4499C45.5832 76.8499 46.1332 75.0999 46.4332 73.1999C46.7332 71.2999 46.8832 69.4832 46.8832 67.7499C46.8832 66.0166 46.7332 64.1999 46.4332 62.2999C46.1332 60.3999 45.5832 58.6499 44.7832 57.0499C44.0165 55.4499 42.9332 54.1332 41.5332 53.0999C40.1665 52.0666 38.4165 51.5499 36.2832 51.5499C34.1165 51.5499 32.3499 52.0666 30.9832 53.0999C29.6165 54.1332 28.5332 55.4499 27.7332 57.0499C26.9665 58.6499 26.4332 60.3999 26.1332 62.2999C25.8332 64.1999 25.6832 66.0166 25.6832 67.7499C25.6832 69.4832 25.8332 71.2999 26.1332 73.1999C26.4332 75.0999 26.9665 76.8499 27.7332 78.4499C28.5332 80.0499 29.6165 81.3666 30.9832 82.3999C32.3499 83.4332 34.1165 83.9499 36.2832 83.9499Z" fill="white"/>
                    <circle cx="64.6001" cy="37" r="12.25" stroke="white" stroke-width="1.5"/>
                    <rect x="63.3" y="30.5" width="1.95" height="10.4" rx="0.975" fill="white"/>
                    <path d="M68.825 38.95C69.3635 38.95 69.8 39.3865 69.8 39.925C69.8 40.4634 69.3635 40.9 68.825 40.9L64.275 40.9C63.7366 40.9 63.3 40.4634 63.3 39.925C63.3 39.3865 63.7366 38.95 64.275 38.95L68.825 38.95Z" fill="white"/>
                </svg>
                <h2 class="title">Собственное производство мягкой мебели</h2>
            </div>
        </div>
    </div>
</section>