<section class="portfolio">
    <div class="container regular">
        <div class="header-page">
            <div class="text-center">
                <h1>Портфолио</h1>
                <div class="caption">410 работ</div>
            </div>
        </div>
        <div class="filter">
            <div class="links links-mobile" href="#filters-modal" uk-toggle>
                <div><a href="#" class="link active">Все</a></div>
                <svg class="chevron-icon"><use xlink:href="assets/icons/sprite.svg#scroll-to"></use></svg>
            </div>
            <div id="filters-modal" uk-modal>
                <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                    <button class="uk-modal-close-default" type="button" uk-close></button>
                    <div class="modal-filter">
                        <div class="item">
                            <a href="#" class="first-level">Все</a>
                        </div>
                        <div class="item">
                            <a href="#" class="first-level">Жилые интерьеры</a>
                            <div class="child">
                                <div class="child-row">
                                    <div class="child-td">Вид:</div>
                                    <div class="child-td">
                                        <a class="link" href="#">#коттеджи</a>
                                        <a class="link" href="#">#квартиры</a>
                                        <a class="link" href="#">#аппартаменты</a>
                                        <a class="link" href="#"> #пентхаусы </a>
                                    </div>
                                </div>
                                <div class="child-row">
                                    <div class="child-td">Стиль:</div>
                                    <div class="child-td">
                                        <a class="link" href="#">#loft</a>
                                        <a class="link" href="#">#современный</a>
                                        <a class="link" href="#">#шале</a>
                                        <a class="link" href="#">#современная_классика</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <a href="#" class="first-level">Общественные интерьеры</a>
                            <div class="child">
                                <div class="child-row">
                                    <div class="child-td"></div>
                                    <div class="child-td">
                                        <a class="link" href="#"> #офисы</a>
                                        <a class="link" href="#">#салоны_красоты</a>
                                        <a class="link" href="#">#бизнес-центры</a>
                                        <a class="link" href="#">#МОП_ЖК</a>
                                        <a class="link" href="#">#horeca </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="button button-gray uk-width-1-1">Сохранить</a>
                    </div>
                </div>
            </div>
            <div class="links links-desktop" uk-switcher="connect: .hashtags-switcher; animation: uk-animation-slide-left-medium, uk-animation-slide-right-medium">
                <div><a href="#" class="link active">Все</a></div>
                <div><a href="#" class="link">Жилые интерьеры</a></div>
                <div><a href="#" class="link">Общественные интерьеры</a></div>
            </div>
            <form class="search">
                <input type="text" name="search" class="text-field" placeholder="Поиск по №">
                <button class="search-button" type="submit">
                    <svg class="icon"><use xlink:href="assets/icons/sprite.svg#search"></use></svg>
                </button>
            </form>
        </div>
        <div class="uk-switcher hashtags-switcher">
            <div class="hashtags">
                <a href="#" class="link">#коттеджи</a>
                <a href="#" class="link">#квартиры</a>
                <a href="#" class="link">#аппартаменты</a>
                <a href="#" class="link">#офисы</a>
                <a href="#" class="link">#салоны_красоты</a>
                <a href="#" class="link">#бизнес_центры</a>
                <a href="#" class="link">#отели</a>
                <a href="#" class="link">#loft </a>
                <a href="#" class="link">#современный</a>
                <a href="#" class="link">#шале</a>
                <a href="#" class="link">#онтоарт</a>
            </div>
            <div class="hashtags">
                <a href="#" class="link">#коттеджи</a>
                <a href="#" class="link">#квартиры</a>
                <a href="#" class="link">#аппартаменты</a>
                <a href="#" class="link">#офисы</a>
                <a href="#" class="link">#салоны_красоты</a>
                <a href="#" class="link">#бизнес_центры</a>
                <a href="#" class="link">#отели</a>

            </div>
            <div class="hashtags">
                <a href="#" class="link">#loft </a>
                <a href="#" class="link">#современный</a>
                <a href="#" class="link">#шале</a>
                <a href="#" class="link">#онтоарт</a>
                <a href="#" class="link">#под_ключ</a>
                <a href="#" class="link">#дизайн_интерьера</a>
            </div>
        </div>
        <div class="projects-list row">
            <div class="col col-12 col-md-6">
                <a href="project-detail.html" class="project-tile">
                    <div class="image" style="background-image: url(assets/images/projects/project-1.jpg)"></div>
                    <div class="name">Интерьер коттеджа в Березовском</div>
                    <div class="number">№ 434</div>
                </a>
            </div>
            <div class="col col-12 col-md-6">
                <a href="project-detail.html" class="project-tile">
                    <div class="image" style="background-image: url(assets/images/projects/project-2.jpg)"></div>
                    <div class="name">Интерьер коттеджа в Березовском</div>
                    <div class="number">№ 434</div>
                </a>
            </div>
            <div class="col col-12 col-md-6">
                <a href="project-detail.html" class="project-tile">
                    <div class="image" style="background-image: url(assets/images/projects/project-3.jpg)"></div>
                    <div class="name">Интерьер коттеджа в Березовском</div>
                    <div class="number">№ 434</div>
                </a>
            </div>
            <div class="col col-12 col-md-6">
                <a href="project-detail.html" class="project-tile">
                    <div class="image" style="background-image: url(assets/images/projects/project-4.jpg)"></div>
                    <div class="name">Интерьер коттеджа в Березовском</div>
                    <div class="number">№ 434</div>
                </a>
            </div>
            <div class="col col-12 col-md-6">
                <a href="project-detail.html" class="project-tile">
                    <div class="image" style="background-image: url(assets/images/projects/project-5.jpg)"></div>
                    <div class="name">Интерьер коттеджа в Березовском</div>
                    <div class="number">№ 434</div>
                </a>
            </div>
            <div class="col col-12 col-md-6">
                <a href="project-detail.html" class="project-tile">
                    <div class="image" style="background-image: url(assets/images/projects/project-6.jpg)"></div>
                    <div class="name">Интерьер коттеджа в Березовском</div>
                    <div class="number">№ 434</div>
                </a>
            </div>
        </div>
        <div class="uk-text-center uk-position-relative">
            <div class="show-by">
                <span>Показывать по</span>
                <button class="uk-button uk-button-small" type="button">
                    12
                    <svg class="icon"><use xlink:href="assets/icons/sprite.svg#scroll-to"></use></svg>
                </button>
                <div uk-dropdown="mode: click; pos: top">
                    <ul class="uk-nav uk-dropdown-nav">
                        <li class="uk-active"><a href="#">12</a></li>
                        <li><a href="#">24</a></li>
                        <li><a href="#">48</a></li>
                    </ul>
                </div>
                <span>проектов</span>
            </div>
            <a href="#" class="button">Показать еще</a>
        </div>
    </div>
</section>