<section class="dark short-text" id="anchor-id-1">
    <div class="container narrow text-center">
        <h2>От дизайн-проекта любой сложности — до воплощения. Мы создаём интерьеры «под ключ»: готовим проектную документацию, занимаемся строительно-отделочными работами, декорируем.</h2>
    </div>
</section>