<div class="team-slider">
    <div class="container regular">
        <div class="h1 text-center">Наша команда</div>
        <div class="team-carousel nav-mobile-outside" uk-slideshow="animation: fade">
            <div class="uk-position-relative" tabindex="-1">
                <ul class="uk-slideshow-items">
                    <li>
                        <div class="container middle-size">
                            <div class="item">
                                <div class="text">
                                    <div class="h1">Марина</div>
                                    <div class="caption">Дизайнер</div>
                                    <p class="description">“Истинный шедевр рождается в реализации индивидуального таланта дизайнера в том направлении, которое вы задаете. Я считаю, что цель достигнута, когда проект становится отражением характера клиента”</p>
                                </div>
                                <div class="image">
                                    <img src="/assets/images/team-1.jpg" alt="">
                                    <a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                                    <a class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="container middle-size">
                            <div class="item">
                                <div class="text">
                                    <div class="h1">Анна</div>
                                    <div class="caption">Стажер</div>
                                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam amet blanditiis, et expedita illo itaque modi necessitatibus neque officia provident, repellat veniam voluptas? Aut cum debitis enim ipsa nesciunt suscipit.</p>
                                </div>
                                <div class="image">
                                    <img src="/assets/images/team-2.jpg" alt="">
                                    <a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                                    <a class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                <a class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
            </div>
            <ul class="uk-slideshow-nav uk-dotnav uk-flex-center"></ul>
        </div>
    </div>
</div>