<section class="videos">
    <div class="container regular">
        <div class="video-slider-controls">
            <ul class="video-nav" uk-switcher="swiping: false; connect: .switcher-video; duration: 500; animation: uk-animation-slide-left-medium, uk-animation-slide-right-medium">
                <li><a href="#" class="item active" data-id="1">Клиенты</a></li>
                <li><a href="#" class="item" data-id="2">Официальные отзывы</a></li>
                <li><a href="#" class="item" data-id="3">Пресса </a></li>
                <li><a href="#" class="item" data-id="4">Телевидение</a></li>
            </ul>
            <div class="nav">
                <a href="#" class="prev">
                    <svg class="icon" width="14px" height="24px" viewBox="0 0 14 24" xmlns="http://www.w3.org/2000/svg" data-svg="slidenav-previous"><polyline fill="none" stroke="#000" stroke-width="1.4" points="12.775,1 1.225,12 12.775,23 "></polyline></svg>
                </a>
                <a href="#" class="next">
                    <svg class="icon" width="14px" height="24px" viewBox="0 0 14 24" xmlns="http://www.w3.org/2000/svg" data-svg="slidenav-next"><polyline fill="none" stroke="#000" stroke-width="1.4" points="1.225,23 12.775,12 1.225,1 "></polyline></svg>
                </a>
            </div>
            <div class="label">о “Студии 40”</div>
            <svg class="chevron-icon"><use xlink:href="assets/icons/sprite.svg#scroll-to"></use></svg>
            <a class="mobile-trigger" href="#video-select" uk-toggle></a>
        </div>
        <div id="video-select" uk-modal>
            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                <button class="uk-modal-close-default" type="button" uk-close></button>
                <div class="modal-filter video-filter">
                    <div class="item">
                        <a href="#" class="first-level uk-modal-close active" data-target="1">Клиенты о “Студии 40”</a>
                    </div>
                    <div class="item">
                        <a href="#" class="first-level uk-modal-close" data-target="2">Официальные отзывы о “Студии 40”</a>
                    </div>
                    <div class="item">
                        <a href="#" class="first-level uk-modal-close" data-target="3">Пресса о “Студии 40”</a>
                    </div>
                    <div class="item">
                        <a href="#" class="first-level uk-modal-close" data-target="4">Телевидение о “Студии 40”</a>
                    </div>
                </div>
            </div>
        </div>
        <ul class="switcher-video uk-switcher">
            <li>
                <div class="anim-wrapper">
                    <div class="items">
                        <div uk-slideshow="animation: fade; finite: true">
                            <div class="image-filler"></div>
                            <div class="uk-position-relative" tabindex="-1">
                                <ul class="uk-slideshow-items">
                                    <li>
                                        <div class="video">
                                            <iframe width="100%" height="100%" data-src="https://www.youtube.com/embed/Np6cJXaRZvc?autoplay=true" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                            <div class="video-preview" style="background-image: url(/assets/images/slider-image-2.png)">
                                                <div class="text">
                                                    <h2 class="name" uk-slideshow-parallax="x: 200,-200">Владелец офиса "АтласДевелопмент" рассказывает о работе со "Студией 40"</h2>
                                                </div>
                                                <div class="play"></div>
                                            </div>
                                            <a class="video-trigger" href="#modal-media-youtube-1" uk-toggle></a>
                                            <div id="modal-media-youtube-1" class="uk-flex-top video-modal" uk-modal>
                                                <div class="uk-modal-dialog uk-width-auto uk-margin-auto-vertical">
                                                    <button class="uk-modal-close-outside" type="button" uk-close></button>
                                                    <iframe src="https://www.youtube.com/embed/Np6cJXaRZvc" width="100%" height="100%" frameborder="0" uk-video></iframe>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="video">
                                            <iframe width="100%" height="100%" data-src="https://www.youtube.com/embed/Np6cJXaRZvc?autoplay=true" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                            <div class="video-preview" style="background-image: url(/assets/images/slider-image.jpg)">
                                                <div class="text">
                                                    <h2 class="name" uk-slideshow-parallax="x: 200,-200">Владелец офиса "АтласДевелопмент" рассказывает о работе со "Студией 40"</h2>
                                                </div>
                                                <div class="play"></div>
                                            </div>
                                            <a class="video-trigger" href="#modal-media-youtube-2" uk-toggle></a>
                                            <div id="modal-media-youtube-2" class="uk-flex-top video-modal" uk-modal>
                                                <div class="uk-modal-dialog uk-width-auto uk-margin-auto-vertical">
                                                    <button class="uk-modal-close-outside" type="button" uk-close></button>
                                                    <iframe src="https://www.youtube.com/embed/Np6cJXaRZvc" width="100%" height="100%" frameborder="0" uk-video></iframe>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                                <a class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
                            </div>
                            <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin-medium-bottom"></ul>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="certificates owl-carousel image-lightbox" uk-lightbox="animation: slide">
                    <div class="item" >
                        <a class="link-ab" href="/assets/images/doc-1.jpg"><img src="/assets/images/doc-1.jpg" alt=""></a>
                        <p>Описание проекта в одну или две строчки</p>
                    </div>
                    <div class="item">
                        <a class="link-ab" href="/assets/images/doc-1.jpg"><img src="/assets/images/doc-1.jpg" alt=""></a>
                        <p>Описание проекта в одну или две строчки</p>
                    </div>
                    <div class="item">
                        <a class="link-ab" href="/assets/images/doc-1.jpg"><img src="/assets/images/doc-1.jpg" alt=""></a>
                        <p>Описание проекта в одну или две строчки</p>
                    </div>
                    <div class="item">
                        <a class="link-ab" href="/assets/images/doc-1.jpg"><img src="/assets/images/doc-1.jpg" alt=""></a>
                        <p>Описание проекта в одну или две строчки</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="items">
                    <div uk-slideshow="animation: fade">
                        <div class="uk-position-relative" tabindex="-1">
                            <ul class="uk-slideshow-items">
                                <li>
                                    <div class="video">
                                        <iframe width="100%" height="100%" data-src="https://www.youtube.com/embed/Np6cJXaRZvc?autoplay=true" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                        <div class="video-preview" style="background-image: url(/assets/images/slider-image.jpg)">
                                            <h2 class="name" uk-slideshow-parallax="x: 200,-200">Владелец офиса "АтласДевелопмент" рассказывает о работе со "Студией 40"</h2>
                                            <div class="play"></div>
                                        </div>
                                        <a class="video-trigger" href="#modal-media-youtube-1" uk-toggle></a>
                                        <div id="modal-media-youtube-1" class="uk-flex-top video-modal" uk-modal>
                                            <div class="uk-modal-dialog uk-width-auto uk-margin-auto-vertical">
                                                <button class="uk-modal-close-outside" type="button" uk-close></button>
                                                <iframe src="https://www.youtube.com/embed/Np6cJXaRZvc" width="100%" height="100%" frameborder="0" uk-video></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="video">
                                        <iframe width="100%" height="100%" data-src="https://www.youtube.com/embed/Np6cJXaRZvc?autoplay=true" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                        <div class="video-preview" style="background-image: url(/assets/images/slider-image.jpg)">
                                            <h2 class="name" uk-slideshow-parallax="x: 200,-200">Владелец офиса "АтласДевелопмент" рассказывает о работе со "Студией 40"</h2>
                                            <div class="play"></div>
                                        </div>
                                        <a class="video-trigger" href="#modal-media-youtube-2" uk-toggle></a>
                                        <div id="modal-media-youtube-2" class="uk-flex-top video-modal" uk-modal>
                                            <div class="uk-modal-dialog uk-width-auto uk-margin-auto-vertical">
                                                <button class="uk-modal-close-outside" type="button" uk-close></button>
                                                <iframe src="https://www.youtube.com/embed/Np6cJXaRZvc" width="100%" height="100%" frameborder="0" uk-video></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                            <a class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
                        </div>
                        <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin-medium-bottom"></ul>
                    </div>
                </div>
            </li>
            <li>
                <div class="items image-slider">
                    <div uk-slideshow="animation: fade">
                        <div class="uk-position-relative" tabindex="-1">
                            <ul class="uk-slideshow-items">
                                <li>
                                    <img src="/assets/images/image-1.jpg" alt="" uk-cover>
                                    <div class="text">
                                        <h2 class="name"><a href="#">Владелец офиса "АтласДевелопмент" рассказывает о работе со "Студией 40"</a></h2>
                                        <a href="#" class="read-more h2">Подробнее</a>
                                    </div>
                                </li>
                                <li>
                                    <img src="/assets/images/slider-image-2.png" alt="" uk-cover>
                                    <div class="text">
                                        <h2 class="name"><a href="#">"АтласДевелопмент" рассказывает о работе со "Студией 40"</a></h2>
                                        <a href="#" class="read-more h2">Подробнее</a>
                                    </div>
                                </li>
                            </ul>
                            <a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                            <a class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
                        </div>
                        <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin-medium-bottom"></ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>