body,
html {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.overlay-active,
.overlay-active body,
.feedback-modal-active ,
.feedback-modal-active body {
    overflow: hidden;
}


.box {
    width: 100px;
    height: 100px;
    background: red;
    position: absolute;
}

.parallax-filler {
    background-color: white;
    left: 0;
    width: 100%;
    height: 20px;
    transform-origin: bottom;
    z-index: 5;

    &.dark-filler {
        background-color: $dark;
    }
}

.marker {
    width: 100%;
    left: 0;
    pointer-events: none;
    user-select: none;
    z-index: 100;
}

.timeline-trigger {
    position: fixed;
    border: 1px solid blue;
    z-index: 90;
}

.start-trigger {
    border: 1px solid green;
    position: absolute;
}

.end-trigger {
    border: 1px solid red;
    position: absolute;
}

section {
    overflow: visible;

    &.dark {
        margin-bottom: -1px;
    }
}

* {
    box-sizing: border-box;
}

body:not(.touch-device) {
    &::-webkit-scrollbar {
        width: 3px;
        height: 3px;
    }

    &::-webkit-scrollbar-thumb {
        background: $dark;
    }
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 1060;
    pointer-events: none;
}

.viewport {
    overflow: hidden;
    position: fixed;
    height: 100%;
    top: 0;
    left: -1px;
    right: -1px;
    bottom: 0;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
}

.scroll-container {
    position: absolute;
    overflow: hidden;
    z-index: 10;
    transform-style: preserve-3d;
    width: 100%;
    box-shadow: 0 50px $dark;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.touch-device {
    .viewport {
        position: static;
    }

    .scroll-container {
        position: static;
        width: auto;
    }
}

.dark {
    background-color: $dark;
    color: white;
}

.container {
    margin: 0 auto;
    padding-left: $frame-space;
    padding-right: $frame-space;
    box-sizing: border-box;
    max-width: 100%;

    &.regular {
        padding-left: $frame-space-large;
        padding-right: $frame-space-large;
    }

    &.narrow {
        width: 970px
    }

    &.middle-size {
        width: 1250px
    }

    &.extra-narrow {
        width: 660px;
    }

    .container {
        padding-left: 0;
        padding-right: 0;
    }

    @include media-breakpoint-down(lg) {
        &.regular {
            padding-left: $frame-space-large-tablet;
            padding-right: $frame-space-large-tablet;
        }
    }

    @include media-breakpoint-down(sm) {
        &.regular {
            padding-left:  $frame-space-large-mobile;
            padding-right: $frame-space-large-mobile;
        }
    }
}

.content {
    padding: 160px 0;

    @include media-breakpoint-down(md) {
        padding: 120px 0;
    }

    @include media-breakpoint-down(sm) {
        padding: 50px 0;
    }

    .gap-170 {
        padding-top: 170px;

        @include media-breakpoint-down(md) {
            padding-top: 60px;
        }

        @include media-breakpoint-down(sm) {
            padding-top: 60px;
        }
    }

    .gap-80 {
        padding-top: 80px;

        @include media-breakpoint-down(md) {
            padding-top: 50px;
        }

        @include media-breakpoint-down(sm) {
            padding-top: 45px;
        }
    }

    .gap-130 {
        padding-top: 130px;

        @include media-breakpoint-down(md) {
            padding-top: 100px;
        }

        @include media-breakpoint-down(sm) {
            padding-top: 40px;
        }
    }

    .gap-60 {
        padding-top: 60px;

        @include media-breakpoint-down(md) {
            padding-top: 30px;
        }

        @include media-breakpoint-down(sm) {
            padding-top: 30px;
        }
    }

    .gap-40 {
        padding-top: 40px;

        @include media-breakpoint-down(sm) {
             padding-top: 25px;
        }
    }
}

@include media-breakpoint-down(xs) {
    .col-0 {
        display: none;
    }
}

@include media-breakpoint-between(sm, sm) {
    .col-sm-0 {
        display: none;
    }
}

@include media-breakpoint-between(md, md) {
    .col-md-0 {
        display: none;
    }
}

@include media-breakpoint-up(lg) {
    .col-lg-0 {
        display: none;
    }
}