body {
    font-family: $font;
    font-size: 18px;
    line-height: 21px;

    @include media-breakpoint-down(md) {
        font-size: 16px;
        line-height: 19px;
    }
}

::-moz-selection { background: red; }
::selection { background: red; }

a {
    color: inherit;
    text-decoration: none;
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5  {
    margin: 0;
    font-family: $font;
    font-weight: 300;
}

h1, .h1 {
    font-size: 40px;
    line-height: 47px;
}

h2, .h2 {
    font-size: 28px;
    line-height: 36px;
}

h3, .h3 {
    font-size: 20px;
    line-height: 23px;
    font-weight: normal;
}

h4, .h4 {

}

h5, .h5 {

}

.text-blue {

}

.text-gray {
    color: #8A8A8A;
}

.uppercase {
    text-transform: uppercase;
}

b,
strong {
    font-weight: 500;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        position: relative;
    }
}

.light {
    font-weight: 100;
}

.link-to {
    position: relative;
    cursor: pointer;
    display: inline-block;

    .line {
        content: '';
        position: absolute;
        top: 100%;
        margin-top: 15px;
        border-bottom: 1px solid;
        left: 0;
        width: 10px;
        transition: width .5s;
    }

    &:hover {
        .line {
            width: 100%;
        }
    }
}

.content {
    font-weight: 300;

    p {
        margin-top: 20px;
        line-height: 21px;

        & + h1 {
            margin-top: 110px;

            @include media-breakpoint-down(md) {
                margin-top: 80px;
            }

            @include media-breakpoint-down(sm) {
                margin-top: 40px;
            }
        }
    }

    h1 + p {
        margin-top: 40px;

        @include media-breakpoint-down(sm) {
            margin-top: 15px;
        }
    }
}


@include media-breakpoint-down(lg) {
    h1, .h1 {

    }

    h2, .h2 {
        font-size: 24px;
        line-height: 36px;
    }

    h3, .h3 {

    }
}

@include media-breakpoint-down(sm) {
    h1, .h1 {
        font-size: 22px;
        line-height: 26px;
    }

    h2, .h2 {
        font-size: 18px;
        line-height: 24px;
    }

    h3, .h3 {
        font-size: 16px;
        line-height: 19px;
    }

    h4, .h4 {

    }
}