.about-start-text {
    text-align: center;

    h2 {
        margin-top: 120px;
    }

    @include media-breakpoint-down(md) {
        text-align: left;

        h1 {
            margin-top: 60px;
        }

        h2 {
            margin-top: 50px;
        }
    }

    @include media-breakpoint-down(sm) {
        padding-top: 60px;

        h1 {
            margin-top: 30px;
        }

        h2 {
            margin-top: 10px;
        }
    }
}

.about-content {
    .image-slider {
        padding-top: 150px;
    }

    .appeal {
        height: 1300px;
        position: relative;
        margin-top: 130px;

        .image {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-size: cover;
            background-position: center;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background-color: black;
                opacity: .1;
            }
        }

        h2 {
            position: absolute;
            right: 170px;
            bottom: 300px;
            color: white;
            width: 700px;
            margin-top: 60px;
        }
    }

    @include media-breakpoint-down(md) {
        .appeal {
            height: auto;
            margin-top: 110px;

            .image {
                position: relative;
                height: 840px;
            }

            h2 {
                position: static;
                width: 100%;
                font-size: 20px;
                line-height: 36px;
                color: $dark;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        .appeal {
            margin-top: 45px;

            .image {
                height: 480px;
            }

            h2 {
                font-size: 18px;
                line-height: 134.19%;
                margin-top: 30px;
            }
        }
    }
}
