.add-project {
    padding-top: 80px;
    position: relative;

    .adding-area {
        display: flex;
        align-items: center;
        padding: 45px;
        justify-content: center;
        cursor: pointer;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border: 1px dashed #858585;
            transition: border-color .3s, transform .3s;
        }


        &:hover:before {
            border: 1px dashed black;
            transform: scale(1.02);
        }

        .h1 {
            max-width: 530px;
        }
    }

    .form {
        padding-bottom: 40px;
    }

    &.add-project-v-2 {
        padding-top: 170px;
        
        .row {
            flex-direction: column;
            align-items: center;
            border: 1px dashed #FFFFFF;
            padding-top: 150px;
            padding-bottom: 140px;
        }

        .adding-area {
            justify-content: flex-start;
            border: none;
            cursor: default;

            &:before {
                display: none;
            }
        }
    }

    @include media-breakpoint-down(md) {
        padding-top: 120px;

        .adding-area {
            border: 1px dashed #858585;
            cursor: default;

            &:before {
                display: none;
            }
        }

        &.add-project-v-2 {
            padding-top: 70px;

            .adding-area {
                padding: 0;
            }

            .row {
                padding-top: 70px;
                padding-bottom: 50px;
            }
        }

        .adding-area {
            flex-direction: column;

            .h1 {
                max-width: 600px;
                width: 100%;
                text-align: left;
            }
        }

        .form {
            width: 100%;
            max-width: 600px;
            padding-bottom: 5px;
        }
    }

    @include media-breakpoint-down(sm) {
        padding-top: 60px;

        &.add-project-v-2 {
            padding-top: 60px;

            .row {
                padding-top: 25px;
                padding-bottom: 25px;
                margin: 0;
            }

            .adding-area {
                padding-left: 10px;
                padding-right: 10px;
            }
        }

        .adding-area {
            padding: 25px;
        }
    }
}