.clients {
    padding: 154px 0;

    .owl-item {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .owl-stage-outer {
        overflow: visible;
    }

    .owl-stage {
        display: flex;
        flex-wrap: wrap;
    }

    .img {
        max-width: 190px;
        width: auto !important;
        height: auto;
        max-height: 100px;
    }

    @include media-breakpoint-down(lg) {
        padding: 100px 0;
    }

    @include media-breakpoint-down(md) {
        transform: none !important;

        .img {
            max-width: 70%;
        }
    }

    @include media-breakpoint-down(sm) {
        padding: 80px 0;
    }

    @include media-breakpoint-down(xs) {
        .owl-stage-outer {
            overflow: visible;
            margin-left: -20px;
        }

        .title {
            max-width: calc(100% - 110px);
        }
    }
}