.client-feedback {
    padding-bottom: 260px;
    position: relative;

    .text-image {
        display: flex;
        align-items: center;
        position: relative;
    }

    .bird {
        position: absolute;
        max-width: 910px;
        right: 110px;
        bottom: 150px;
    }

    .description {
        margin-top: 65px;
        line-height: 21px;
        font-weight: 300;
    }

    .text {
        flex: 1;
        padding-right: 80px;
        position: relative;
    }

    .image {
        max-width: 460px;
        position: relative;

        img {
            box-shadow: 0 30px 250px rgba(0, 0, 0, 0.05);
        }
    }

    .bird-mobile {
        display: none;
    }

    @include media-breakpoint-down(md) {
        padding-bottom: 220px;

        .text-image {
            display: block;
        }

        .image {
            margin-top: 50px;
        }

        .text {
            padding-right: 0;
        }

        .description {
            margin-top: 50px;
        }

        .bird {
            right: 25px;
            left: 25px;
            width: calc(100% - 50px);
        }
    }

    @include media-breakpoint-down(md) {
        padding-bottom: 60px;

        .description {
            margin-top: 25px;
        }

        .bird {
            display: none;
        }

        .bird-mobile {
            display: block;
            position: absolute;
            bottom: 100%;
            right: 0;
            opacity: .5;
            width: auto;
        }

        .image {
            margin-top: 100px;
        }
    }
}