.compare {
    color: white;

    &:before {
        content: 'До';
        position: absolute;
        left: 70px;
        top: 70px;
        z-index: 2;
    }

    &:after {
        content: 'После';
        position: absolute;
        right: 70px;
        top: 70px;
    }

    .cocoen-drag::before {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: white;
        margin-left: -25px;
        background-image: url(../assets/images/drag-arrows.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 84%;
    }

    @include media-breakpoint-down(md) {
        &:before {
            top: 30px;
            left: 35px;
        }

        &:after {
            top: 30px;
            right: 35px;
        }
    }

    @include media-breakpoint-down(sm) {
        &:before,
        &:after {
            display: none;
        }
    }
}


.slideshow-comparing {
    .uk-slideshow-items {
        transition: height .3s;
    }
}

.homepage-comparing {
    .header-page {
        margin-top: 240px;
    }

    .uk-slideshow-items {
        margin-top: 140px;
    }

    .compare {
        margin-top: 0;
    }

    @include media-breakpoint-down(md) {
        .container {
            transform: none !important;
        }

        .header-page {
            margin-top: 100px;
        }

        .uk-slideshow-items {
            margin-top: 60px;
        }
    }

    @include media-breakpoint-down(sm) {
        .header-page {
            margin-top: 45px;

            .text-center {
                text-align: left;
            }

            .caption {
                font-size: 16px;
                line-height: 19px;
            }
        }

        .uk-slideshow-items {
            margin-top: 30px;
        }
    }
}