section + .contacts {
    padding: 170px 0 280px;

    @include media-breakpoint-down(md) {
        padding: 100px 0 30px;
    }

    @include media-breakpoint-down(sm) {
        padding-top: 40px;
    }
}

.contacts {
    padding: 250px 0 280px;

    .text {
        font-size: 28px;
        line-height: 36px;
    }

    p + p {
        margin-top: 30px;
    }

    .row {
        margin-top: 100px;
    }

    .contacts-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 28px;
        line-height: 36px;
        font-weight: 300;
        margin-top: 65px;

        li {
            color: #717171;
            transition: color .3s;
            position: relative;
            padding: 0 16px;

           & + li {
               &:before {
                   content: '';
                   position: absolute;
                   left: 0;
                   top: 4px;
                   bottom: 4px;
                   width: 1px;
                   background-color: #717171;
               }
           }

            &:after {
                top: 100%;
                left: 16px;
                content: '';
                width: 0;
                transition: width .7s;
                margin-top: 5px;
                height: 1px;
                background-color: white;
                position: absolute;
            }
        }

        .uk-active {
            color: white;

            &:after {
                width: 10px;
            }
        }
    }

    .map {
        position: relative;
        height: 530px;

        .map-container {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            filter: grayscale(100%);
            -webkit-filter: grayscale(100%);
        }

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            filter: grayscale(100%);
        }
    }

    @include media-breakpoint-down(lg) {
        .text {
            font-size: 18px;
            line-height: 32px;
            padding-bottom: 20px;
        }

        p + p {
            margin-top: 20px;
        }
    }

    @include media-breakpoint-down(md) {
        padding: 150px 0 30px;

        .contacts-nav {
            justify-content: flex-start;

            li:first-child {
                padding-left: 0;

                &:after {
                    left: 0;
                }
            }

            li:after {
                display: none;
            }

            .uk-active {
                text-decoration: underline;
            }
        }

        .row {
            margin-top: 35px;
        }

        .text-center {
            text-align: left;
        }
    }

    @include media-breakpoint-down(sm) {
        padding-top: 120px;

        .contacts-nav {
            font-size: 18px;
            line-height: 21px;
        }
    }
}