.feedback {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1060;
    display: flex;
    align-items: center;
    font-weight: 300;
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
    pointer-events: none;

    .feedback-active & {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
    }

    .description {
        font-weight: 300;
        margin: 60px 0 40px;
        max-width: 680px;
    }

    .container {
        max-height: 100vh;
        overflow: auto;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .close-button {
        position: absolute;
        display: flex;
        align-items: center;
        top: 43px;
        right: 35px;
        z-index: 3;

        .icon {
            width: 20px;
            height: 20px;
        }
    }

    .success-message {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: auto;
        max-height: 100vh;
        background-color: $dark;
        z-index: 2;
        opacity: 0;
        pointer-events: none;
        visibility: hidden;

        .bird {
            position: absolute;
            opacity: .3;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 90%;
            pointer-events: none;
        }

        .container {
            padding-top: 190px;
        }

        .buttons {
            margin-top: 60px;

            .link {
                margin-left: 25px;
                text-decoration: underline;
            }
        }

        &.shown {
            opacity: 1;
            pointer-events: auto;
            visibility: visible;
        }

        &.transition {
            transition: all .3s;
        }
    }

    @include media-breakpoint-down(md) {
        .close-button {
            top: 20px;
            right: 40px;
        }

        .success-message {
            .container {
                padding-top: 160px;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        .success-message {
            .container {
                padding-top: 40px;
            }

            .description {
                margin-top: 40px;
            }

           .buttons {
               .button {
                   width: 100%;
               }

               .link {
                   width: 100%;
                   text-align: center;
                   margin-left: 0;
                   margin-top: 25px;
                   display: block;
               }
           }

            .bird {
                position: static;
                opacity: 1;
                transform: none;
                max-width: 100%;
                margin-top: 50px;
            }
        }

        .close-button {
            top: 40px;
            right: 25px;

            .icon {
                position: relative;
            }

            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                width: 44px;
                height: 44px;
                background-color: $dark;
                transform: translate(-50%, -50%);
            }
        }

       .title,
       .description {
           max-width: calc(100% - 50px);
       }

        .description {
            color: #8A8A8A;
            font-style: italic;
            margin: 5px 0 30px;
        }
    }
}