.geography {
    text-align: center;
    padding-top: 150px;
    padding-bottom: 140px;
    user-select: none;

    .h1 {
        position: relative;
        z-index: 2;
        margin-bottom: -20px;
    }

    .marker-geo {
        width: 20px;
        height: 20px;
        position: relative;
        border-radius: 50%;
        cursor: pointer;
        transition: opacity .3s;

        .marker-number {
            position: absolute;
            left: 50%;
            bottom: 80%;
            color: white;
            transform: translate(-50%, 0);
            font-size: 12px;
            font-weight: bold;
            transition: opacity .3s;
            pointer-events: none;
        }

        &:before {
            content: '';
            width: 3px;
            height: 3px;
            background-color: white;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -1.5px;
            margin-top: -1.5px;
            transition: transform .3s;
        }

        .hover-tooltip {
            opacity: 0;
            visibility: hidden;
            background-color: white;
            border-radius: 4px;
            white-space: nowrap;
            transition: all .3s;
            position: absolute;
            padding: 2px 5px;
            bottom: 100%;
            left: 50%;
            transform: translate(-50%, -5px);
            color: #0B0B0B;

            &:before {
                content: '';
                position: absolute;
                left: 50%;
                transform: rotate(45deg);
                width: 8px;
                height: 8px;
                background-color: white;
                top: 100%;
                margin-left: -5px;
                margin-top: -4px;

            }
        }

        &:hover {
            &:before {
                transform: scale(3);
            }

            .hover-tooltip {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    .geo-container {
        position: relative;
    }

    .icon {
        width: 40px;
        height: 40px;
        margin-right: 5px;
    }

    .number {
        font-size: 14px;
        font-weight: bold;
        display: inline-block;
    }

    .point {
        color: #6A6A6A;
        position: absolute;
        cursor: pointer;
        transition: color .3s;
        z-index: 2;
        margin-bottom: 100px;
        transform: translate3d(0px, 280px, 0px);

        .marker {
            display: flex;
            pointer-events: auto;
        }

        &.active {
            z-index: 6;

            .marker-number {
                opacity: 0;
            }

            .marker-geo {
                opacity: 0;
            }
        }

        &:hover {
            color: #8e8e8e;
            z-index: 5;
        }
    }

    .caption {
        font-size: 14px;
        pointer-events: none;
        transition: opacity .3s;
        display: inline-block;
        white-space: nowrap;
    }

    .item {

        .text {
            z-index: 2;
        }
    }

    .image {
        width: calc(100% - 40px);

        &:before {
            content: '';
            display: block;
            padding-top: 49.8%;
        }

        img {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    .image-wrap {
        position: relative;
        min-height: 170px;
        display: flex;

        img {
            object-fit: cover;
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background: rgba(11, 11, 11, 0.4);
            z-index: 2;
        }
    }

    .point-tooltip {
        position: absolute;
        width: 300px;
        padding: 10px 5px;
        background-color: white;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
        border-radius: 4px;
        left: 20px;
        top: 50%;
        transform: translate(-50%, -110%);
        cursor: default;
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        transition: all .15s;

        .close {
            position: absolute;
            right: 4px;
            top: 3px;
            cursor: pointer;
            transform: scale(0.8);
        }

        .uk-slideshow {
            margin-top: 30px;
        }

        .uk-slidenav-previous {
            margin-left: 0;
        }

        .uk-slidenav-next {
            margin-right: 0;
        }

        .uk-slideshow-items {
            overflow: visible;

            & > * {
                overflow: visible;
            }
        }

        .title {
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #171717;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 5px;
            position: absolute;
            bottom: 100%;
            left: 25px;
            right: 25px;
            background-color: white;
        }

        .link {
            font-size: 14px;
            line-height: 18px;
            color: #171717;
            margin-top: 15px;
            margin-bottom: 10px;
            position: relative;
            display: inline-block;

            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 100%;
                border-bottom: 1px solid;
                margin-top: 2px;
                width: 0;
                transition: width .6s .2s;
            }
        }

        .uk-slideshow-items {
            .link {
                color: white;

                &:before {
                    display: none;
                }
            }
        }
    }

    .active {
        .point-tooltip {
            visibility: visible;
            opacity: 1;
            pointer-events: auto;
            transform: translate(-50%, -100%);

            .link {
                &:before {
                    width: 100%;
                }
            }
        }
    }

    @include media-breakpoint-down(md) {
        padding-top: 150px;
        padding-bottom: 90px;

        .container {
            transform: none !important;
        }

        .image {
            margin-top: -50px;
            min-width: 1200px;
            position: relative;
            margin-right: 150px;
            transform: none !important;

            &:before {
                padding-top: 49.7%;
            }

            img {
                width: 103%;
                max-width: 103%;
            }
        }

        .point {
            transform: none !important;
            margin-bottom: 0;
        }

        .geo-container {
            overflow: auto;
            margin-left: -40px;
            margin-right: -40px;
            padding-left: 40px;
            padding-right: 180px;
            padding-top: 200px;
            margin-top: -200px;

            & >  .uk-position-relative {
                min-width: 1420px;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        padding-top: 60px;
        padding-bottom: 60px;

        .image {
            margin-top: -70px;
        }

        .geo-container {
            margin-left: -24px;
            margin-right: -24px;
            padding-left: 24px;
            padding-right: 120px;
        }

        .point-tooltip {
            width: 250px;
        }
    }
}