.get-question {
    padding-top: 240px;
    position: relative;
    z-index: 2;

    .description {
        line-height: 133.69%;
        margin-top: 60px;
    }

    .text-field, .textarea {
        width: 0;
        overflow: hidden;
        opacity: 0;

        &::placeholder {
            opacity: 0;
        }
    }

    @for $i from 1 through 4 {
        .form-group:nth-child(#{$i}) {
            .text-field, .textarea {
                transition: width 1s #{($i)/10 + 's'}, opacity .5s #{($i)/10 + 's'};

                &::placeholder {
                    transition: opacity .6s #{($i + 4)/10 + 's'}, text-indent .3s;
                }
            }
        }
    }

    .show {
        .text-field, .textarea {
            width: 100%;
            opacity: 1;

            &::placeholder {
                opacity: 1;
            }
        }
    }

    .image-wrap {
        max-width: 680px;
        position: relative;
        width: 100%;

        &:after {
            content: '';
            display: block;
            padding-top: 135%;
        }
    }

    .name {
        font-size: 16px;
        line-height: 133.69%;
        position: absolute;
        z-index: 2;
        opacity: 0;
    }

    .name-1 {
        left: 10%;
        top: 30%;
    }

    .name-2 {
        right: 10%;
        top: 60%;
    }

    .image {
        top: 0;
        transform: scale(1.2);
        transform-origin: top;
        position: absolute;
        left: 0;
        width: 100%;
    }

    .row-qu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .left-side {
        width: 44%;
    }

    .right-side {
        width: 44%;
        display: flex;
        justify-content: flex-end;
    }

    @include media-breakpoint-down(lg) {
        .left-side {
            width: 48%;
        }

        .right-side {
            width: 48%;
        }
    }

    @include media-breakpoint-down(md) {
        padding-top: 0;

        .container {
            transform: none !important;
        }

        .row-qu {
            flex-direction: column;
        }

        .left-side {
            width: 100%;
            margin-top: -35vw;
            position: relative;
            z-index: 3;

            & > * {
                position: relative;
            }

            &:before {
                content: '';
                position: absolute;
                top: 35vw;
                width: calc(100% + #{$frame-space-large-tablet * 2} );
                left: -$frame-space-large-tablet;
                height: 4px;
                background-color: $dark;
                margin-top: -2px;
            }
        }

        .right-side {
            width: calc(100% + #{$frame-space-large-tablet * 2} );
            order: -1;
        }

        .name-1 {
            top: 60%;
        }

        .name-2 {
            top: 24%;
        }

        .image-wrap {
            width: 100%;
            position: relative;
            max-width: none;
            overflow: hidden;

            &:before {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                height: 70%;
                bottom: 0;
                z-index: 2;
                background: linear-gradient(0deg, #171717 10.42%, rgba(23, 23, 23, 0) 100%);
            }
        }

        .image {
            max-width: none;
            width: 100%;
            transform: scale(1) !important;
        }
    }

    @include media-breakpoint-down(sm) {
        .description {
            font-style: italic;
            color: #8A8A8A;
        }

        .name {
            font-size: 12px;
        }

        .name-2 {
            top: 35%;
        }

        .name-1 {
            top: 50%;
        }
    }
}