.image-slider {
    padding-top: 170px;

    .uk-slidenav-previous,
    .uk-slidenav-next {
        opacity: .5;
        transition: opacity .3s;

        &:hover {
            opacity: 1;
        }
    }

    .button {
        margin-top: 75px;
    }

    .name {
        position: absolute;
        top: 75px;
        left: 75px;
    }

    .text {
        position: relative;
        z-index: 3;
        height: 100%;
        opacity: 0;
        transition: opacity .6s;

        .link {
            position: relative;
            font-size: 18px;
            display: inline-block;
            line-height: 36px;

            &:before {
                content: '';
                position: absolute;
                top: 100%;
                margin-top: 7px;
                height: 1px;
                background-color: white;
                left: 50%;
                transform: translate(-50%, 0);
                width: 10px;
                transition: width .3s;
            }

            &:hover {
                &:before {
                    width: 80%;
                }
            }
        }
    }

    .uk-slideshow-items {
        li {
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                content: '';
                background: black;
                opacity: .2;
                z-index: 2;
            }
        }
    }

    .showed {
        .text {
            opacity: 1;
            transition: opacity .6s .5s;
        }
    }

    @include media-breakpoint-down(lg) {
        padding-top: 100px;

        .button {
            margin-top: 60px;
        }

        .name {
            top: 45px;
            left: 45px;
        }
    }

    @include media-breakpoint-down(sm) {
        padding-top: 120px;

        .button {
            margin-top: 40px;
        }

        .name {
            top: 15px;
            left: 15px;
            right: 15px;
            text-align: center;
        }

        .text {
            .link {
                font-size: 14px;

                &:before {
                    display: none;
                }
            }
        }
    }
}