.instagram-tiles {
    margin-top: 170px;
    margin-bottom: 150px;

    .header-part {
        display: flex;
        padding-left: 130px;
        position: relative;

        h1 {
            width: 80%;
        }
    }

    .social-link {
        display: inline-flex;
        align-items: center;

        .icon {
            width: 32px;
            height: 32px;
            margin-left: 10px;
        }
    }

    .items {
        display: flex;
        flex-wrap: wrap;
        margin: 50px -14px 0;
    }

    .item {
        margin: 14px;
        width: calc(33.33% - 28px);
        display: block;

        img {
            width: 100%;
        }
    }

    @include media-breakpoint-up(lg) {
        .social-link {
            position: absolute;
            right: 0;
            top: 0;
            font-size: 18px;
        }
    }

    @include media-breakpoint-down(lg) {
        .header-part {
            padding-left: 0;
        }
    }

    @include media-breakpoint-down(md) {
        margin-top: 120px;
        margin-bottom: 100px;

        .item {
            width: calc(50% - 28px);
        }

        .header-part {
            h1 {
                width: 100%;
            }
        }

        .social-link {
            border-bottom: 1px solid;

            .icon {
                order: -1;
                margin-left: 0;
                margin-right: 5px;
            }
        }

        .hide-md {
            display: none;
        }
    }

    @include media-breakpoint-down(sm) {
        margin-top: 55px;
        margin-bottom: 60px;

        .item {
            width: calc(100% - 28px);
        }

        .items {
            margin-top: 15px;
        }

        .social-link {
            .icon {
                width: 16px;
                height: 16px;
            }
        }
    }
}