.keyvisual {
    height: 100vh;
    box-sizing: border-box;
    padding-top: 110px;
    display: flex;
    position: relative;

    .container {
        width: 100%;
        display: flex;
        position: relative;
    }

    .keyvisual-slider {
        z-index: 0;
    }

    @-webkit-keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes fadeOut {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
    }

    .fadeOut {
        -webkit-animation-name: fadeOut;
        animation-name: fadeOut;
    }

    .fadeIn {
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn;
    }

    .content-wrapper {
        position: relative;
        width: 100%;
    }

    .text {
        max-width: 980px;
        box-sizing: border-box;
        margin: 170px auto 0;
        pointer-events: none;
    }

    .text-container {
        pointer-events: auto;
        max-width: 50%;
    }

    .image {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);

        .caption {
            position: absolute;
            opacity: 0;
            transform: translate(20px, 0);
            transition: all .4s;
            pointer-events: none;
            max-width: 215px;
            font-size: 16px;

            &.active {
                opacity: 1;
                transition: all .4s .1s;
                transform: translate(0, 0);
            }
        }

        #i0-text {bottom: 33%;left: 5%;}
        #i1-text {left: 62%;bottom: 27%;}
        #i2-text {right: 37%;bottom: 57%;}
        #i3-text {right: 21%;bottom: 85%;}
        #i4-text {left: 22%;bottom: 22%;}
        #i5-text {left: 78%;bottom: 10%;}
        #i6-text {left: 33%; bottom: 7%;}
        #i7-text {left: 56%;bottom: 10%;}
        #i8-text {left: 79%;bottom: 16%;}
        #i9-text {left: 90%;bottom: 100%;}
        #i10-text {left: 88%;bottom: 51%;}
    }

    .buttons {
        margin-top: 50px;

        .link-to {
            margin-top: 20px;
        }

        .link-to + .link-to {
            margin-left: 40px;
        }
    }

    .social-links {
        position: absolute;
        bottom: 30px;
        right: 30px;

        .link {
            margin-left: 15px;
        }

        .icon {
            width: 21px;
            height: 21px;
        }
    }

    .scroll-to {
        position: absolute;
        left: 50%;
        bottom: 40px;
        cursor: pointer;
        width: 12px;
        height: 12px;
        margin-left: -6px;

        svg {
            height: 12px;
            width: 12px;
            fill: #C4C4C4;
        }

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 44px;
            height: 44px;
        }
    }

    .mobile-part {
        display: none;
    }

    @include media-breakpoint-down(sm) {
        height: auto;
        display: block;
        padding: 0;

        .desktop-part {
            display: none;
        }

        .container {
            flex-direction: column;
        }

        .link-to {
            color: #8C8B8B;
            font-size: 14px;
            line-height: 16px;

            &:before {
                display: none;
            }

            & +  .link-to {
                &:after {
                    position: absolute;
                    left: -20px;
                    top: 2px;
                    bottom: 3px;
                    content: '';
                    border-left: 1px solid rgba(white, .5)
                }
            }
        }

        .image {
            transform: none;
        }

        .text {
            position: absolute;
            bottom: 15vw;
            left: 0;
            right: 0;
            pointer-events: auto;
            z-index: 2;
        }

        .buttons {
            border-top: 1px solid rgba(white, .5);
            display: flex;
        }

        .mobile-part {
            display: block;
            position: relative;

            &:before {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                height: 60%;
                bottom: 0;
                z-index: 1;
                background: linear-gradient(0deg, #171717 10.42%, rgba(23, 23, 23, 0) 100%);
            }
        }

        .image {
            position: static;
        }
    }
}