.overlay-navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1050;
    font-weight: 300;
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
    pointer-events: none;
    overflow: auto;

    .overlay-active & {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
    }

    .bg-image {
        position: absolute;
        left: 0;
        right: 0;
        top: 130px;
    }

    .overlay-content-wrapper,
    .overlay-content {
        height: 100%;
    }

    .overlay-content {
        display: flex;
        align-items: center;
    }

    .contact-info {
        font-size: 19px;
        line-height: 23px;
        color: #858585;
        margin-top: 30px;
    }

    .close-button {
        position: absolute;
        display: flex;
        align-items: center;
        top: 43px;
        right: 35px;

        span {
            font-size: 16px;
            line-height: 19px;
            color: #858585;
        }

        .icon {
            width: 20px;
            height: 20px;
            margin-left: 35px;
        }
    }

    .title {
        font-size: 24px;
        line-height: 28px;
    }

    a.title {
        border-bottom: 1px solid;
        transition: color .3s;

        &:hover {
            color: #858585;
        }
    }

    .links {
        display: flex;
        flex-direction: column;
        font-size: 24px;
        line-height: 28px;
        align-items: flex-start;

        .link {
            transition: color .3s;
            position: relative;

            &:before {
                content: '';
                top: 100%;
                width: 0;
                position: absolute;
                left: 0;
                border-bottom: 1px solid;
                transition: width .3s;
            }

            &.active,
            &:hover {
                color: #858585;

                &:before {
                    width: 100%;
                }
            }

            & + .link {
                margin-top: 22px;
            }
        }
    }

    .language {
        color: #6D6D6D;
        transition: color .3s;

        .active,
        a:hover {
            color: white;
        }
    }

    .contacts-col {
        position: relative;
    }

    .social-links {
        position: absolute;
        right: 0;
        bottom: 0;
        display: flex;

        .icon {
            width: 21px;
            height: 21px;
        }

        .link {
            display: block;

            & + .link {
                margin-left: 30px;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        .contacts-col-1 {
            position: relative;
            left: -40px;
        }

        .social-links {
            transform: translate(50%, 0);
        }
    }

    @include media-breakpoint-down(md) {
        .overlay-content {
            align-items: flex-start;
            padding-top: 130px;
        }

        .feedback-button {
            font-size: 24px;
            line-height: 28px;
            margin-top: 70px;
            border-bottom: 1px solid;
            padding-bottom: 10px;
        }

        .links {
            font-size: 30px;
            line-height: 35px;
        }

        .contact-info {
            font-size: 18px;
            line-height: 27px;
            color: #FFFFFF;
            max-width: 420px;
            margin-top: 40px;
        }

        .contacts-nav {
            display: flex;
            color: #717171;

            a.title {
                position: relative;
                border-bottom: 0;

                &:before {
                    content: '';
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: 0;
                    border-bottom: 1px solid;
                    padding: auto;
                    transition: width .3s;
                }
            }

            li {
                position: relative;
            }

            li + li {
                margin-left: 20px;
                padding-left: 20px;

                &:before {
                    content: '';
                    position: absolute;
                    top: 5px;
                    left: 0;
                    bottom: 5px;
                    border-left: 2px solid;
                }
            }

            a {
                transition: color .3s;
            }

            .uk-active {
                a {
                    color: white;

                    &:before {
                        width: 100%;
                    }
                }
            }
        }

        .mobile-contacts {
            margin-top: 70px;
        }

        .title {
            font-size: 30px;
            line-height: 35px;
        }

        .bg-image {
            display: none;
        }

        .close-button {
            top: 20px;
            right: 40px;

            span {
                display: none;
            }
        }

        .language {
            position: absolute;
            display: flex;
            top: 20px;
            right: 120px;
        }

        .phone {
            position: absolute;
            top: 20px;
            left: 25px;
            font-size: 24px;
            line-height: 28px;
            text-decoration-line: underline;
        }

        .social-links {
            top: 18px;
            right: 240px;
            bottom: auto;
        }
    }

    @include media-breakpoint-down(sm) {
        .language {
            font-size: 24px;
            line-height: 28px;
            right: 20px;
            top: 350px;
            z-index: 2;
        }

        .social-links {
            top: 240px;
            right: 20px;
            z-index: 2;
            flex-direction: column;

            .link+.link {
                margin-left: 0;
                margin-top: 30px;
            }
        }

        .overlay-content {
            padding-top: 100px;
        }

        .contact-info {
            font-size: 20px;
            line-height: 23px;
        }

        .close-button {
            right: 20px;
        }

        .links {
            font-size: 24px;
            line-height: 28px;
        }

        .title {
            font-size: 24px;
            line-height: 28px;
        }
    }
}