.points {
    padding-top: 135px;
    padding-bottom: 135px;

    .owl-stage {
        display: flex;
        flex-wrap: wrap;
    }

    .points-carousel {
        position: relative;
    }

    .title {
        margin-top: 45px;
    }

    .owl-item {
        display: flex;
    }

    .owl-dots {
        margin-top: 60px;
    }

    .item {
        position: relative;
        padding-bottom: 40px;
        max-width: 280px;

        .line {
            width: 10px;
            position: absolute;
            bottom: 0;
            left: 0;
            border-bottom: 1px solid;
            transform: translate(100px, 0);
        }

        .circle {
            width: 98px;
            height: 98px;
            border-radius: 50%;
            border: 2px solid #313131;
        }

        .icon {
            width: 150px;
        }
    }

    @include media-breakpoint-down(md) {
        .item {
            text-align: center;
            padding-bottom: 0;
            margin: 0 auto;
            max-width: 370px;

            .circle {
                margin: 0 auto;
            }

            .line {
                display: none;
            }

            .title {
                margin-top: 30px;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        .item {
            max-width: none;
            padding: 0 40px;
        }
    }
}