.portfolio {
    .projects-list {
        margin-top: 30px;
        padding-bottom: 75px;

        @include media-breakpoint-down(md) {
            padding-bottom: 50px;
        }

        @include media-breakpoint-down(sm) {
            padding-bottom: 25px;
        }
    }
}