.price-calc {
    margin-top: 40px;
    padding-bottom: 200px;

    .calc-content {
        margin-top: 170px;
        display: flex;
        align-items: flex-end;

        .bird {
            position: absolute;
            right: 0;
            bottom: 0;
            width: auto;
        }

        .form-group {
            position: relative;
            width: 100%;
            margin-top: 0;
        }

        .text-field {
            padding-right: 150px;
        }

        .button {
            margin-left: 70px;
        }
    }

    .price-results {
        margin-top: 50px;
        margin-bottom: 60px;

        .item {
            border-bottom: 1px solid #E7E7E7;
            position: relative;
        }

        .example {
            font-size: 16px;
            line-height: 19px;
            text-decoration-line: underline;
            color: #8A8A8A;
            position: absolute;
            right: 100px;
            top: 0;
            transition: color .3s;
            z-index: 2;

            &:hover {
                color: $dark;
            }
        }
    }

    .uk-accordion-title {
        display: flex;
        justify-content: space-between;
        padding-right: 100px;
        padding-bottom: 15px;
        cursor: pointer;
        position: relative;

        .icon {
            position: absolute;
            top: -4px;
            right: 0;
            fill: $dark;
            width: 20px;
            height: 20px;
            transition: transform .3s, margin .3s;
        }

        &:before {
            display: none;
        }
    }

    .item.uk-open {
        .icon {
            transform: rotate(180deg);
            margin-top: 7px;
        }
    }

    .accordion-title {
        margin-top: 80px;
    }

    .uk-accordion-content {
        padding-bottom: 35px;
        font-weight: 300;
    }

    .price-data {
        display: flex;
        flex-wrap: wrap;
        margin-top: 35px;

        .item {
            width: 200px;
        }
    }

    .form-results {
        display: none;
    }

    @include media-breakpoint-down(md) {
        margin-top: 50px;

        .price-data {
            margin-top: 110px;
        }

        .calc-content {
            margin-top: 35px;
            flex-direction: column;

            .bird {
                display: none;
            }

            .button {
                width: 100%;
                margin-left: 0;
                margin-top: 60px;
            }
        }

        .accordion-title {
            margin-top: 50px;
        }
    }

    @include media-breakpoint-down(sm) {
        .uk-accordion-content {
            font-size: 18px;
            line-height: 21px;
        }

        .item.uk-open .icon {
            margin-top: 5px;
        }

        .example-inside {
            border-bottom: 1px solid;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            display: inline-block;
            margin: 0 0 15px;
        }

        .price-data {
            margin-top: 55px;

            .item {
                width: 50%;
                max-width: 200px;
            }

            h2 {
                font-size: 22px;
                margin-top: 3px;
            }

            .caption {
                font-size: 14px;
            }
        }

        .accordion-title {
            font-size: 22px;
            margin-top: 40px;
        }

        .price-results {
            margin-top: 25px;
            margin-bottom: 30px;

            .example {
                display: none;
            }
        }

        .calc-content {
            .button {
                margin-top: 35px;
            }
        }

        .uk-accordion-title {
            .icon {
                width: 12px;
                height: 12px;
                top: 3px;
            }
        }

        .button {
            width: 100%;
        }
    }
}