.project-visual {
    height: 100vh;
    position: relative;
    color: white;

    .image {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: cover;
        background-position: center;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.3);
        }
    }

    .scroll-to {
        position: absolute;
        left: 50%;
        bottom: 40px;
        cursor: pointer;
        width: 12px;
        height: 12px;
        margin-left: -6px;

        svg {
            height: 12px;
            width: 12px;
            fill: white;
        }

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 44px;
            height: 44px;
        }
    }

    .title {
        position: absolute;
        top: 250px;
        left: 50px;
        right: 50px;
        text-align: center;
    }

    .subtitle {
        bottom: 130px;
        position: absolute;
        left: 50px;
        right: 50px;
        text-align: center;
    }

    @include media-breakpoint-down(md) {
        &.about-visual {
            display: none;
        }

        .title {
            top: 35%;
        }

        .subtitle {
            font-size: 18px;
            bottom: 20%;
        }
    }

    @include media-breakpoint-down(sm) {
        .scroll-to {
            display: none;
        }

        .title,
        .subtitle {
            position: static;
            text-align: left;
        }

        .subtitle {
            padding-top: 15px;
            font-size: 14px;
            line-height: 16px;
        }

        .container {
            position: absolute;
            left: 0;
            bottom: 60px;
        }
    }
}