.short-text {
    padding-top: 250px;

    .container {
        transform: translate(0, 60px);
    }

    @include media-breakpoint-down(md) {
        padding-top: 170px;
    }

    @include media-breakpoint-down(sm) {
        padding-top: 150px;

        .container {
            transform: none !important;
        }

        .text-center {
            text-align: left;
        }
    }
}