.team-slider {
    padding-top: 140px;

    .team-carousel {
        margin-top: 100px;
    }

    .uk-slideshow-items {
        min-height: auto !important;
    }

    .item {
        display: flex;
        justify-content: space-between;
        background-color: white;
    }

    .image {
        max-width: 635px;
        width: 50%;
    }

    .caption {
        font-size: 18px;
        line-height: 21px;
        color: #8A8A8A;
        font-style: italic;
    }

    .description {
        margin-top: 50px;
    }

    .text {
        max-width: 435px;
        width: 40%;
        padding-bottom: 100px;
        padding-top: 22%;
    }

    .image .uk-slidenav-previous,
    .image .uk-slidenav-next {
        display: none;
    }

    .uk-dotnav {
        display: flex;
        color: $dark;
        justify-content: flex-start;
        bottom: 22%;
    }

    @media (min-width: 1340px) {
        .uk-dotnav {
            left: 50%;
            margin-left: -630px;
        }
    }

    @include media-breakpoint-down(md) {
        padding-top: 120px;
        margin-bottom: -40px;

        .image {
            order: -1;
            width: 100%;
            max-width: none;
            position: relative;
        }

        .h1.text-center {
            text-align: left;
        }

        .team-carousel {
            margin-top: 60px;
        }

        .item {
            flex-wrap: wrap;
        }

        .text {
            padding-top: 60px;
            padding-bottom: 0;
            box-shadow: 0px -100.526px 100.526px rgba(0, 0, 0, 0.15);
            border-radius: 24px;
            margin-left: -40px;
            margin-right: -40px;
            width: auto;
            max-width: none;
            padding-left: 40px;
            padding-right: 40px;
        }

        .uk-slideshow-items,
        .uk-slideshow-items > * {
            overflow: visible;
        }

        .description {
            margin-top: 40px;
        }

        .uk-dotnav {
            margin-top: 0;
            position: absolute;
            top: 0;
            bottom: auto;
            padding-top: 140%;
            display: flex;
            color: white;
            justify-content: center;
            pointer-events: none;
        }

        .caption {
            font-size: 18px;
            line-height: 21px;
        }

        .uk-slidenav-previous,
        .uk-slidenav-next {
            display: none;
        }

        .image .uk-slidenav-previous,
        .image .uk-slidenav-next {
            display: block;
        }
    }

    @include media-breakpoint-down(sm) {
        margin-bottom: 0;
        padding-top: 40px;

        .text {
            margin-left: -24px;
            margin-right: -24px;
            padding-left: 24px;
            padding-right: 24px;
            padding-top: 30px;
            box-shadow: 0px -50px 50px rgba(0, 0, 0, 0.15);
            border-radius: 12px;
        }

        .team-carousel {
            margin-top: 25px;
        }

        .description {
            margin-top: 25px;
        }

        .caption {
            font-size: 14px;
            line-height: 134.19%;
        }
    }
}