.videos {
    margin-top: 200px;
    padding-top: 20px;

    .uk-slideshow-items {
        min-height: auto !important;

        &:before {
            content: '';
            display: block;
            padding-top: 56.25%;
        }
    }

    .certificates {
        img {
            border: 1px solid #f1f1f1;
            cursor: pointer;
        }

        p {
            margin-top: 20px;
            font-size: 15px;
        }
    }

    .nav {
        .icon {
            width: 15px;
            height: 15px;
        }

        .prev {
            position: absolute;
            top: -10px;
            right: 0;
            transform: rotate(90deg) translate(-100%, -50%);
        }

        .next {
            position: absolute;
            bottom: -10px;
            right: 0;
            transform: rotate(90deg) translate(100%, -50%);
        }
    }

    .image-slider {
        padding-top: 0;
        color: white;

        .text {
            opacity: 1;
        }

        .read-more {
            position: absolute;
            left: 80px;
            bottom: 70px;
            font-weight: 300;

            &:before {
                display: none;
            }
        }
    }

    .chevron-icon {
        display: none;
    }



    @include media-breakpoint-up(lg) {
        .video-slider-controls {
            display: flex;
            flex-direction: column;
            width: 50%;
            text-align: right;
            padding-right: 40px;
            position: relative;
            margin-bottom: 90px;
            font-weight: 300;

            &:before {
                content: '';
                position: absolute;
                right: -1.5px;
                top: 5px;
                bottom: 5px;
                border-left: 1px solid;
            }

            .label {
                font-size: 38px;
                line-height: 36px;
                position: absolute;
                left: 100%;
                margin-left: 50px;
                top: -3px;
                white-space: nowrap;
            }

            li:first-child{
                .item {
                    margin-top: 0;
                }
            }

            .item {
                font-size: 28px;
                line-height: 36px;
                opacity: .3;
                transition: opacity .3s, transform .5s;
                transform-origin: right center;
                position: relative;
                margin-top: 7px;
                display: block;

                &:hover {
                    opacity: .6;
                }

                &.active {
                    opacity: 1;
                    transform: scale(1.25);
                }
            }
        }
    }

    @include media-breakpoint-down(md) {
        .video-slider-controls {
            position: relative;
            font-size: 40px;
            line-height: 36px;
            font-weight: 300;
            margin-bottom: 30px;
            border-bottom: 1px solid #DBDBDB;
            padding-bottom: 15px;
            padding-right: 30px;
            transform: none !important;

            .chevron-icon {
                display: block;
                position: absolute;
                right: 0;
                bottom: 27px;
                width: 28px;
                height: 28px;
                opacity: 0.3;
            }

            .mobile-trigger {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                cursor: pointer;
                z-index: 2;
            }

            .label,
            .video-nav {
                display: inline-block;
            }

            .nav {
                display: none;
            }

            .item {
                display: none;

                &.active {
                    display: inline-block;
                    pointer-events: none;
                }
            }
        }

        .image-slider {
            text-align: left;

            .read-more {
                bottom: 45px;
                left: 45px;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        margin-top: 10px;

        .image-slider {
            .text .name {
                text-align: left;
            }

            .read-more {
                display: none;
            }
        }

        .video-slider-controls {
            font-size: 18px;
            line-height: 36px;

            .chevron-icon {
                width: 12px;
                height: 12px;
                opacity: 1;
                bottom: 29px;
            }
        }

        .uk-slidenav {
            color: white;
        }

        .uk-slideshow-items {
            &:before {
                padding-top: 56.25%;
            }
        }
    }
}