<footer>
    <div class="container">
        <div class="copyright">Все материалы являются объектом авторского права ООО «СТУДИЯ 40». 2010-2019 год</div>
        <div class="dev">Создание сайта студия <a href="http://maxlepinskih.com/" target="_blank">Lepinskih</a></div>
    </div>
</footer>