<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Студия 40</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,400i&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/uikit.css">
    <link rel="stylesheet" type="text/css" href="css/main.css?v=2">
    <script type="text/javascript" src="/js/vendor/uikit.min.js"></script>
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
    <meta name="theme-color" content="#171717">
</head>