<div class="loader"></div>
<div class="header {{ theme }}">
    <div class="container">
        <div class="left-side">
            <a href="/" class="logo">
                <svg class="icon"><use xlink:href="assets/icons/sprite.svg#logo"></use></svg>
                <svg class="icon-mobile"><use xlink:href="assets/icons/sprite.svg#logo-mobile"></use></svg>
            </a>
            <nav class="main-nav">
                <a class="link" href="/portfolio.html">Портфолио</a>
                <a class="link" href="/prices.html">Цены</a>
                <a class="link" href="/steps.html">Этапы работы</a>
                <a class="link" href="/about.html">О студии</a>
                <a class="link" href="/before-after.html">До/после</a>
                <a class="link" href="/contacts.html">Контакты</a>
                <div class="nav-track">
                    <div class="nav-track__active"></div>
                </div>
            </nav>
            <div class="hamburger-wrapper js-navigation-open">
                <div class="hamburger">
                    <div class="line line-1"></div>
                    <div class="line line-2"></div>
                </div>
                <div class="caption">меню</div>
            </div>
            <a href="tel:+7777777777" class="phone-button">
                <svg class="icon for-dark"><use xlink:href="assets/icons/sprite.svg#phone-button"></use></svg>
                <svg class="icon for-white"><use xlink:href="assets/icons/sprite.svg#phone-button-dark"></use></svg>
            </a>
        </div>
        <div class="right-side">
            <div class="language">
                <span class="active">Ru</span>
                <span>/</span>
                <a href="#">En</a>
            </div>
            <div class="feedback-button js-feedback-open"><div class="line"></div>Заказать проект</div>
            <div class="phones">
                <div class="item">
                    <div class="caption">Екатеринбург</div>
                    <a class="phone" href="tel:+79097046955">+7 (909) 704-69-55</a>
                </div>
                <div class="item">
                    <div class="caption">Москва</div>
                    <a class="phone" href="tel:+74957146935">+7 (495) 714-69-35</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="overlay-navigation dark">
    <a href="#" class="close-button js-navigation-close">
        <span>закрыть меню</span>
        <svg class="icon"><use xlink:href="assets/icons/sprite.svg#close"></use></svg>
    </a>
    <div class="overlay-content-wrapper">
        <div class="overlay-content">
            <div class="col-lg-0">
                <a href="tel:+73432191701" class="phone">+7 (343) 219-17-01</a>
                <div class="language">
                    <span class="active">Ru</span>
                    <span>/</span>
                    <a href="#">En</a>
                </div>
                <div class="social-links">
                    <a href="#" target="_blank" class="link">
                        <svg class="icon"><use xlink:href="assets/icons/sprite.svg#facebook-f-brands"></use></svg>
                    </a>
                    <a href="#" target="_blank" class="link">
                        <svg class="icon"><use xlink:href="assets/icons/sprite.svg#instagram-brands"></use></svg>
                    </a>
                </div>
            </div>
            <div class="container narrow">
                <div class="row">
                    <div class="links col col-12 col-lg-4">
                        <a href="/portfolio.html" class="link">Портфолио </a>
                        <a href="/steps.html" class="link">Этапы работы </a>
                        <a href="/about.html" class="link">О студии</a>
                        <a href="/before-after.html" class="link">До/после</a>
                        <a href="/contacts.html" class="link">Контакты</a>
                        <a href="/prices.html" class="link">Цены</a>
                    </div>
                    <div class="contacts-col col col-0 col-sm-0 col-md-0 col-lg-4 contacts-col-1">
                        <div class="title">Екатеринбург</div>
                        <div class="contact-info">
                            <p>+7 (909) 704-69-55</p>
                            <p>info@archstudio40.ru</p>
                            <p>г. Екатеринбург, ул. Горького 26, 4 этаж Mansarda Design Place</p>
                            <p>пн-пт 09:30-19:00</p>
                        </div>
                        <a class="title js-feedback-open" href="#">Заказать проект</a>
                    </div>
                    <div class="contacts-col col col-0 col-sm-0 col-md-0  col-lg-4 contacts-col-2">
                        <div class="title">Москва</div>
                        <div class="contact-info">
                            <p>+7 (909) 704-69-55</p>
                            <p>info@archstudio40.ru</p>
                            <p>г. Екатеринбург, ул. Горького 26, 4 этаж Mansarda Design Place</p>
                            <p>пн-пт 09:30-19:00</p>
                        </div>
                        <div class="title language">
                            <span class="active">Ru</span>
                            <span>/</span>
                            <a href="#">En</a>
                        </div>
                        <div class="social-links">
                            <a href="#" target="_blank" class="link">
                                <svg class="icon"><use xlink:href="assets/icons/sprite.svg#facebook-f-brands"></use></svg>
                            </a>
                            <a href="#" target="_blank" class="link">
                                <svg class="icon"><use xlink:href="assets/icons/sprite.svg#instagram-brands"></use></svg>
                            </a>
                        </div>
                    </div>
                    <a class="col col-12 col-lg-0 feedback-button js-feedback-open" href="#">Заказать проект</a>
                    <div class="col col-lg-0 mobile-contacts">
                        <ul class="contacts-nav" uk-switcher="connect: .overlay-switcher; animation: uk-animation-slide-left-medium, uk-animation-slide-right-medium">
                            <li><a class="title" href="#">Екатеринбург</a></li>
                            <li><a class="title" href="#">Москва</a></li>
                        </ul>
                        <ul class="uk-switcher overlay-switcher uk-margin">
                            <li>
                                <div class="contact-info">
                                    <p>+7 (909) 704-69-55</p>
                                    <p>info@archstudio40.ru</p>
                                    <p>г. Екатеринбург, ул. Горького 26, 4 этаж Mansarda Design Place</p>
                                    <p>пн-пт 09:30-19:00</p>
                                </div>
                            </li>
                            <li>
                                <div class="contact-info">
                                    <p>+7 (909) 704-69-55</p>
                                    <p>info@archstudio40.ru</p>
                                    <p>г. Екатеринбург, ул. Горького 26, 4 этаж Mansarda Design Place</p>
                                    <p>пн-пт 09:30-19:00</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>