<script type="text/javascript" src="js/main.js?v=3"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdSMnswGQkDUA2GIpIYeFLyInFLav7xts&callback=initMap"
        async defer></script>