$container-width: 1100px;
$frame-space: 25px;
$frame-space-large: 180px;
$frame-space-large-tablet: 40px;
$frame-space-large-mobile: 24px;

$font: 'Roboto', Arial, sans-serif;

//Colors
$dark: #171717;

//Breakpoints
$grid-breakpoints: (xs: 0, sm: 480px, md: 768px, lg: 1080px, xl: 1480px);

//Grid
$grid-columns: 12 !default;
$grid-gutter-width: 38px !default;