<!doctype html>
<html lang="ru">
{% include "template/head.twig" %}
<body>
<section class="viewport">
    {% include "template/modules/feedback.twig" %}
    {% include "template/header.twig" with {'theme': 'dark dark-light mobile-dark'}  %}
        <div id="scroll-container" class="scroll-container">
        <section class="project-visual about-visual">
            <div class="image" style="background-image: url(/assets/images/team.jpg)"></div>
            <div class="container regular">
                <h1 class="title"> О студии 40</h1>
            </div>
            <div data-href="#content" class="scroll-to js-scroll-to desktop-part">
                <svg class="icon"><use xlink:href="assets/icons/sprite.svg#scroll-to"></use></svg>
            </div>
        </section>
        <section class="about-visual-mobile">
            <div class="container regular">

            </div>
        </section>
        <section class="scroll-navigation" id="content">
            <div class="container regular">
                <a href="#anchor-1" class="link js-scroll-to active">О студии 40 </a>
                <a href="#anchor-2" class="link js-scroll-to">Обращение руководителей студии </a>
                <a href="#anchor-3" class="link js-scroll-to">Команда</a>
                <a href="#anchor-4" class="link js-scroll-to">География проектов</a>
                <a href="#anchor-5" class="link js-scroll-to">Отзывы</a>
                <a href="#anchor-6" class="link js-scroll-to">Клиенты</a>
            </div>
        </section>
        <section class="about-content">
            <div class="content">
                <div id="anchor-1"></div>
                <div class="container narrow about-start-text">
                    <img class="col-lg-0 image" src="/assets/images/team.jpg" alt="">
                    <h1>О студии 40</h1>
                    <h2>От дизайн-проекта любой сложности — до воплощения. Мы создаём интерьеры «под ключ»: готовим проектную документацию, занимаемся строительно-отделочными работами, декорируем.</h2>
                </div>
                <div class="image-slider nav-mobile-outside gap-170">
                    <div class="container regular">
                        <div uk-slideshow="animation: fade">
                            <div class="uk-position-relative" tabindex="-1">
                                <ul class="uk-slideshow-items">
                                    <li>
                                        <img src="/assets/images/slider-image.jpg" alt="" uk-cover>
                                    </li>
                                    <li>
                                        <img src="/assets/images/slider-image-2.png" alt="" uk-cover>
                                    </li>
                                </ul>
                                <a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                                <a class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
                            </div>
                            <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin-medium-bottom"></ul>
                        </div>
                    </div>
                </div>
                <div class="container narrow gap-80">
                    <p>Вы всегда можете позвонить нам или заполнить форму на сайте и заказать дизайн своей мечты или получить профессиональную консультацию дизайнера бесплатно.</p>
                </div>
                <div class="appeal">
                    <div id="anchor-2"></div>
                    <div class="image" style="background-image: url('/assets/images/appeal.jpg')"></div>
                    <div class="container regular">
                        <h2>Студия 40 - это студия Владислава и Натальи Сорок. Мы архитекторы и в работе используем аналитический и эстетический подход одновременно. Секрет гармонии проектов в разностороннем подходе: и функциональном – мужском и эстетическом – женском.</h2>
                    </div>
                </div>
                <div id="anchor-3"></div>
                {% include "template/modules/team-slider.twig" %}
            </div>
        </section>
        <div id="anchor-4"></div>
        {% include "template/modules/geography.twig" %}
        <div id="anchor-5"></div>
        {% include "template/modules/videos-list.twig" %}
        <div id="anchor-6"></div>
        {% include "template/modules/clients.twig" %}
        {% include "template/modules/get-question.twig" %}
        {% include "template/modules/contacts.twig" %}
        {% include "template/footer.twig" %}
    </div>
</section>
{% include "template/scripts.twig" %}
</body>
</html>