<!doctype html>
<html lang="ru">
{% include "template/head.twig" %}
<body>
<section class="viewport">
    {% include "template/modules/feedback.twig" %}
    {% include "template/header.twig"%}
    <div id="scroll-container" class="scroll-container">
        <section>
            <div class="container narrow">
                <div class="header-page">
                    <div class="text-center">
                        <h1>До | После</h1>
                        <div class="caption">Опасаетесь, что в дизайн-проекте все красиво нарисовано, но проект невозможно реализовать? Напрасно! Если реализацией проекта занимаются профессионалы и ведется авторский и технический надзоры - результат всегда будет лучше проекта.</div>
                    </div>
                </div>
            </div>
            <div class="container regular">
                <div class="tab tabs-before-after">
                    <div class="link active" data-id="1">Все</div>
                    <div class="link" data-id="2">Жилые интерьеры</div>
                    <div class="link" data-id="3">Общественные интерьеры</div>
                    <svg class="chevron-icon"><use xlink:href="assets/icons/sprite.svg#scroll-to"></use></svg>
                    <div class="modal-toggle" href="#filters-modal" uk-toggle></div>
                    <div id="filters-modal" uk-modal>
                        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                            <button class="uk-modal-close-default" type="button" uk-close></button>
                            <div class="modal-filter price-filter">
                                <div class="item">
                                    <a href="#" class="first-level active uk-modal-close" data-target="1">Все</a>
                                </div>
                                <div class="item">
                                    <a href="#" class="first-level uk-modal-close" data-target="2">Жилые интерьеры</a>
                                </div>
                                <div class="item">
                                    <a href="#" class="first-level uk-modal-close" data-target="3">Общественные интерьеры</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <h2>ЖК Небо Плаза</h2>
                    <div class="gap-40">
                        <div class="compare cocoen">
                            <div class="image">
                                <img src="assets/images/slider-image.jpg" alt="">
                            </div>
                            <div class="image">
                                <img src="assets/images/slider-image-2.png" alt="">
                            </div>
                        </div>
                    </div>
                    <h2 class="gap-80">ЖК Небо Плаза</h2>
                    <div class="gap-40">
                        <div class="compare cocoen">
                            <div class="image">
                                <img src="assets/images/slider-image.jpg" alt="">
                            </div>
                            <div class="image">
                                <img src="assets/images/slider-image-2.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="container narrow gap-80">
                        <p>Возможность вставить сюда описание проекта в любое количество строчек, например в две. Если вы решите заказать дизайн-проект квартиры или дома в нашей студии.</p>
                    </div>
                    <h2 class="gap-80">ЖК Небо Плаза</h2>
                    <div class="gap-40">
                        <div class="compare cocoen">
                            <div class="image">
                                <img src="assets/images/slider-image.jpg" alt="">
                            </div>
                            <div class="image">
                                <img src="assets/images/slider-image-2.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% include "template/modules/get-question.twig" %}
        {% include "template/modules/contacts.twig" %}
        {% include "template/footer.twig" %}
    </div>
</section>
{% include "template/scripts.twig" %}
</body>
</html>