<!doctype html>
<html lang="ru">
{% include "template/head.twig" %}
<body class="homepage">
<section class="viewport">
    {% include "template/modules/feedback.twig" %}
    {% include "template/header.twig" with {'theme': 'dark'} %}
    <div id="scroll-container" class="scroll-container">
        {% include "template/modules/keyvisual.twig" %}
        {% include "template/modules/short-text.twig" %}
        {% include "template/modules/image-slider.twig" %}
        {% include "template/modules/points.twig" %}
        {% include "template/modules/geography.twig" %}
        {% include "template/modules/homepage-comparing.twig" %}
        {% include "template/modules/videos-list.twig" %}
        {% include "template/modules/clients.twig" %}
        {% include "template/modules/get-question.twig" %}
        {% include "template/modules/contacts.twig" %}
        {% include "template/footer.twig" %}
        {% include "template/scripts.twig" %}
    </div>
</section>
</body>
</html>