<!doctype html>
<html lang="ru">
{% include "template/head.twig" %}
<body>
<section class="viewport">
    {% include "template/modules/feedback.twig" %}
{% include "template/header.twig" %}
    <div id="scroll-container" class="scroll-container">
        {% include "template/modules/portfolio.twig" %}
        {% include "template/modules/add-project.twig" %}
        {% include "template/modules/instagram-tiles.twig" %}
        {% include "template/modules/contacts.twig" %}
        {% include "template/footer.twig" %}
    </div>
</section>
{% include "template/scripts.twig" %}
</body>
</html>