<!doctype html>
<html lang="ru">
{% include "template/head.twig" %}
<body>
<section class="viewport">
{% include "template/modules/feedback.twig" %}
{% include "template/header.twig" %}
    <div id="scroll-container" class="scroll-container">
        <section>
            <div class="container extra-narrow">
                <div class="header-page">
                    <div class="text-center">
                        <h1>Цены</h1>
                        <div class="caption">Для вашего удобства мы сделали калькулятор. Теперь, для того, чтобы узнать цену, достаточно просто ввести площадь помещения. </div>
                    </div>
                </div>
            </div>
            <div class="container narrow price-calc">
                <div class="tab">
                    <div class="link active" data-id="1" data-price="10000">Жилые интерьеры</div>
                    <div class="link" data-id="2" data-price="20000">Общественные интерьеры</div>
                    <div class="link" data-id="3" data-price="50000">МОП ЖК</div>
                    <!--Only mobile-->
                    <svg class="chevron-icon"><use xlink:href="assets/icons/sprite.svg#scroll-to"></use></svg>
                    <div class="modal-toggle" href="#filters-modal" uk-toggle></div>
                    <div id="filters-modal" uk-modal>
                        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                            <button class="uk-modal-close-default" type="button" uk-close></button>
                            <div class="modal-filter price-filter">
                                <div class="item">
                                    <a href="#" class="first-level active uk-modal-close" data-target="1">Жилые интерьеры</a>
                                </div>
                                <div class="item">
                                    <a href="#" class="first-level uk-modal-close" data-target="2">Общественные интерьеры</a>
                                </div>
                                <div class="item">
                                    <a href="#" class="first-level uk-modal-close" data-target="3">МОП ЖК</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- / Only mobile-->
                </div>
                <form class="calc-content">
                    <div class="form-group">
                        <input type="text" maxlength="4" class="text-field" placeholder="Введите площадь помещения (м²)">
                        <img src="assets/images/bird.png" alt="" class="bird">
                    </div>
                    <button class="button button-gray">Рассчитать</button>
                </form>
                <div class="form-results" id="results">
                    <div class="price-data">
                        <div class="item">
                            <div class="caption">1 м²:</div>
                            <h2 class="value"><span id="current-price"></span> р.</h2>
                        </div>
                        <div class="item">
                            <div class="caption"><span id="value"></span> м²:</div>
                            <h2 class="value"><span id="calculated-price"></span> р.</h2>
                        </div>
                    </div>
                    <h2 class="accordion-title">Что входит в стоимость:</h2>
                    <ul class="js-accordion price-results">
                        <li class="item">
                            <a href="#" class="example" target="_blank">Пример .pdf</a>
                            <div class="uk-accordion-title" href="#">
                                <h3>Планировочное решение</h3>
                                <svg class="icon"><use xlink:href="assets/icons/sprite.svg#scroll-to"></use></svg>
                            </div>
                            <div class="uk-accordion-content">
                                <a href="#" class="col-md-0 col-lg-0  example-inside" target="_blank">Пример .pdf</a>
                                <p>Визуализация покажет клиенту, какой именно будет интерьер в жизни. На 3D-изображении клиент увидит освещение, реальные материалы отделки, матовые и глянцевые поверхности, распределение отражений, цветовое оформление.</p>
                                <p>Визуализация избавляет от неправильных решений, лишних затрат и возможных разочарований. Здравый смысл не позволит начинать ремонт до того, как клиент не увидит интерьер в 3D, даже если все и так кажется понятным.</p>
                                <p>Дизайнер визуализирует помещения с дизайном, включая санузлы и не визуализирует подсобные и технические помещения.</p>
                            </div>
                        </li>
                        <li class="item">
                            <a href="#" class="example" target="_blank">Пример .pdf</a>
                            <div class="uk-accordion-title" href="#">
                                <h3>Дизайн-концепция</h3>
                                <svg class="icon"><use xlink:href="assets/icons/sprite.svg#scroll-to"></use></svg>
                            </div>
                            <div class="uk-accordion-content">
                                <a href="#" class="col-md-0 col-lg-0 example-inside" target="_blank">Пример .pdf</a>
                                <p>Визуализация покажет клиенту, какой именно будет интерьер в жизни. На 3D-изображении клиент увидит освещение, реальные материалы отделки, матовые и глянцевые поверхности, распределение отражений, цветовое оформление.</p>
                                <p>Визуализация избавляет от неправильных решений, лишних затрат и возможных разочарований. Здравый смысл не позволит начинать ремонт до того, как клиент не увидит интерьер в 3D, даже если все и так кажется понятным.</p>
                                <p>Дизайнер визуализирует помещения с дизайном, включая санузлы и не визуализирует подсобные и технические помещения.</p>
                            </div>
                        </li>
                    </ul>
                    <div class="uk-text-left">
                        <a href="#" class="button button-gray">Заказать</a>
                    </div>
                </div>
            </div>
        </section>
        {% include "template/modules/contacts.twig" %}
        {% include "template/footer.twig" %}
    </div>
</section>
{% include "template/scripts.twig" %}
</body>
</html>