<!doctype html>
<html lang="ru">
{% include "template/head.twig" %}
<body>
<section class="viewport">
    {% include "template/modules/feedback.twig" %}
    {% include "template/header.twig" with {'theme': 'dark dark-light'} %}
    <div id="scroll-container" class="scroll-container">
        <section class="project-visual">
            <div class="image" style="background-image: url(assets/images/projects/project-detail.jpg)"></div>
            <div class="container regular">
                <h1 class="title">ЖК Чемпион Парк</h1>
                <h2 class="subtitle">158 кв м I Современный стиль</h2>
            </div>
            <div data-href="#content" class="scroll-to js-scroll-to desktop-part">
                <svg class="icon"><use xlink:href="assets/icons/sprite.svg#scroll-to"></use></svg>
            </div>
        </section>
        <section id="content" class="content">
            <div class="container narrow">
                <h1>Рум-тур</h1>
                <p>Возможность вставить сюда описание проекта в любое количество строчек, например в две. Если вы решите заказать дизайн-проект квартиры или дома в нашей студии, в результате вы получите уникальный, стильный и функциональный интерьер.</p>
                <p>Вы всегда можете позвонить нам или заполнить форму на сайте и заказать дизайн своей мечты или получить профессиональную консультацию дизайнера бесплатно.</p>
            </div>
            <div class="container regular gap-80">
               <div class="video">
                   <iframe width="100%" height="100%" data-src="https://www.youtube.com/embed/Np6cJXaRZvc?autoplay=true" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                   <div class="video-preview" style="background-image: url(/assets/images/slider-image.jpg)">
                       <div class="play"></div>
                   </div>
                   <a class="video-trigger" href="#modal-media-youtube-1" uk-toggle></a>
                   <div id="modal-media-youtube-1" class="uk-flex-top video-modal" uk-modal>
                       <div class="uk-modal-dialog uk-width-auto uk-margin-auto-vertical">
                           <button class="uk-modal-close-outside" type="button" uk-close></button>
                           <iframe src="https://www.youtube-nocookie.com/embed/Np6cJXaRZvc" width="100%" height="100%" frameborder="0" uk-video></iframe>
                       </div>
                   </div>
               </div>
            </div>
            <div class="image-slider nav-mobile-outside gap-170">
                <div class="anim-wrapper">
                    <div class="container regular">
                        <div uk-slideshow="animation: fade">
                            <div class="image-filler"></div>
                            <div class="uk-position-relative" tabindex="-1">
                                <ul class="uk-slideshow-items">
                                    <li>
                                        <img src="/assets/images/slider-image.jpg" alt="" uk-cover>
                                    </li>
                                    <li>
                                        <img src="/assets/images/slider-image-2.png" alt="" uk-cover>
                                    </li>
                                </ul>
                                <a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                                <a class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
                            </div>
                            <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin-medium-bottom"></ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container narrow gap-80">
                <p>Вы всегда можете позвонить нам или заполнить форму на сайте и заказать дизайн своей мечты или получить профессиональную консультацию дизайнера бесплатно.</p>
            </div>
            <div class="container regular gap-170">
                <div class="compare cocoen">
                   <div class="image">
                       <img src="assets/images/slider-image.jpg" alt="">
                   </div>
                    <div class="image">
                        <img src="assets/images/slider-image-2.png" alt="">
                    </div>
                </div>
            </div>
            <div class="container regular gap-170">
                <img class="simple-image" src="assets/images/projects/large-image.jpg" alt="">
            </div>
            <div class="container narrow gap-60">
                <p>Возможность вставить сюда описание проекта в любое количество строчек, например в две. Если вы решите заказать дизайн-проект квартиры или дома в нашей студии.</p>
                <h1>Заголовок</h1>
                <p>Возможность вставить сюда описание проекта в любое количество строчек, например в две. Если вы решите заказать дизайн-проект квартиры или дома в нашей студии, в результате вы получите уникальный, стильный и функциональный интерьер.</p>
            </div>
            <div class="container regular gap-60">
                <img src="assets/images/projects/project-detail-3.jpg" alt="">
            </div>
            <div class="container narrow gap-170">
                <h1>Видео отзыв клиента о работе над проектом офиса “АтласДевелопмент”</h1>
            </div>
            <div class="container regular gap-60">
                <div class="video">
                    <iframe width="100%" height="100%" data-src="https://www.youtube.com/embed/Np6cJXaRZvc?autoplay=true" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <div class="video-preview" style="background-image: url(/assets/images/slider-image.jpg)">
                        <h2 class="name">Владелец офиса "АтласДевелопмент" рассказывает о работе со "Студией 40"</h2>
                        <div class="play"></div>
                    </div>
                    <a class="video-trigger" href="#modal-media-youtube-2" uk-toggle></a>
                    <div id="modal-media-youtube-2" class="uk-flex-top video-modal" uk-modal>
                        <div class="uk-modal-dialog uk-width-auto uk-margin-auto-vertical">
                            <button class="uk-modal-close-outside" type="button" uk-close></button>
                            <iframe src="https://www.youtube-nocookie.com/embed/Np6cJXaRZvc" width="100%" height="100%" frameborder="0" uk-video></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% include "template/modules/client-feedback.twig" %}
        {% include "template/modules/add-project-v-2.twig" %}
        {% include "template/modules/contacts.twig" %}
        {% include "template/footer.twig" %}
    </div>
</section>
{% include "template/scripts.twig" %}
</body>
</html>