<!doctype html>
<html lang="ru">
{% include "template/head.twig" %}
<body>
<section class="viewport">
    <div class="col-lg-0">
        {% include "template/modules/feedback.twig" %}
        {% include "template/header.twig"%}
    </div>
    <div id="scroll-container" class="scroll-container">
        <div class="col-0 col-sm-0 col-md-0">
            {% include "template/header.twig" with {'theme': 'absolute'}%}
        </div>
        <section>
            <div class="container extra-narrow">
                <div class="header-page">
                    <div class="text-center">
                        <h1>Этапы работы над проектом</h1>
                    </div>
                </div>
            </div>
        </section>
        <section class="steps">
           <div class="container regular">
               <div class="tab tab-steps">
                   {% for step in steps %}
                       {% if loop.index == 1 %}
                           <div class="link js-scroll-to-steps active" data-href="#step-{{ loop.index }}" data-id="{{ loop.index }}">{{ step.title }}</div>
                       {% else %}
                           <div class="link js-scroll-to-steps" data-href="#step-{{ loop.index }}" data-id="{{ loop.index }}">{{ step.title }}</div>
                       {% endif %}
                   {% endfor %}
                   <!--Only mobile-->
                   <svg class="chevron-icon"><use xlink:href="assets/icons/sprite.svg#scroll-to"></use></svg>
                   <div class="modal-toggle" href="#filters-modal" uk-toggle></div>
                   <div id="filters-modal" uk-modal>
                       <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                           <button class="uk-modal-close-default" type="button" uk-close></button>
                           <div class="modal-filter price-filter">
                               {% for step in steps %}
                                   {% if loop.index == 1 %}
                                       <div class="item"><a href="#step-{{ loop.index }}" class="first-level js-scroll-to active uk-modal-close" data-target="{{ loop.index }}">{{ step.title }}</a></div>
                                   {% else %}
                                       <div class="item"><a href="#step-{{ loop.index }}" class="first-level js-scroll-to active uk-modal-close" data-target="{{ loop.index }}">{{ step.title }}</a></div>
                                   {% endif %}
                               {% endfor %}
                           </div>
                       </div>
                   </div>
                   <!-- / Only mobile-->
               </div>
           </div>
            <div class="container regular">
                {% for step in steps %}
                    <div class="step">
                        <div class="image" id="step-{{ loop.index }}">
                            <div class="image-cover">
                                <img src="{{ step.image }}" alt="">
                            </div>
                            <div class="number"><span>{{ loop.index }}</span></div>
                        </div>
                        <div class="text">
                            <div class="number-mobile">{{ loop.index }}</div>
                            <div class="h1">{{ step.title }}</div>
                            <div class="h2">
                                <p>{{ step.description }} <br><a href="#">Подробнее</a></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
        {% include "template/modules/get-question.twig" %}
        {% include "template/modules/contacts.twig" %}
        {% include "template/footer.twig" %}
    </div>
</section>
{% include "template/scripts.twig" %}
</body>
</html>