<svg width="1658" height="865" viewBox="0 0 1658 865" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <path data-siblings='{"i10": ".2"}' class="path-pattern" id="i9" fill-rule="evenodd" clip-rule="evenodd" d="M1441.5 3L1488.5 222.5L1656 77.5L1442 4L1441.75 3H1441.5Z" fill="url(#pattern0)"/>
    <path data-siblings='{"i8": ".2", "i7": ".2"}'  class="path-pattern" id="i5" fill-rule="evenodd" clip-rule="evenodd" d="M1216.5 768.5L1124 825H1314L1216.5 768.5Z" fill="url(#pattern1)"/>
    <path data-siblings='{"i6": ".2", "i8": ".2", "i1": ".2"}' class="path-pattern" id="i7" fill-rule="evenodd" clip-rule="evenodd" d="M859 678.5L866 568.5L1216.5 768.5L859 678.5Z" fill="url(#pattern2)"/>
    <path data-siblings='{"i4": ".2", "i7": ".2"}' class="path-pattern" id="i6" fill-rule="evenodd" clip-rule="evenodd" d="M171.5 863L866 568.5L859 678.5L171.5 863Z" fill="url(#pattern3)"/>
    <path data-siblings='{"i0": ".2", "i6": ".2"}' class="path-pattern" id="i4" fill-rule="evenodd" clip-rule="evenodd" d="M172 862.5L178 778L866 568.5L172 862.5Z" fill="url(#pattern4)"/>
    <path data-siblings='{"i1": ".2", "i3": ".2"}' class="path-pattern" id="i2" fill-rule="evenodd" clip-rule="evenodd" d="M816.5 489.5L1237 226L1382.5 545L816.5 489.5Z" fill="url(#pattern5)"/>
    <path data-siblings='{"i2": ".2", "i10": ".2"}' class="path-pattern" id="i3" fill-rule="evenodd" clip-rule="evenodd" d="M1440.5 3H1440L1237.5 226L1382.5 544.5L1440.5 3Z" fill="url(#pattern6)"/>
    <path data-siblings='{"i9": ".2", "i3": ".2"}' class="path-pattern" id="i10" fill-rule="evenodd" clip-rule="evenodd" d="M1441 3L1382.5 544L1488.5 222.5L1441.5 5L1441.17 3H1441Z" fill="url(#pattern7)"/>
    <path data-siblings='{"i1": ".2", "i4": ".2"}' id="i0" class="path-pattern" fill-rule="evenodd" clip-rule="evenodd" d="M866 568.5L817 489.5L3 672.5L178 777.5L866 568.5Z" fill="url(#pattern8)"/>
    <path data-siblings='{"i0": ".2", "i2": ".2", "i8": ".2", "i7": ".2"}' class="path-pattern" id="i1" fill-rule="evenodd" clip-rule="evenodd" d="M866 568.5L817.5 489.5L1383 545L1216.5 768.5L866 568.5Z" fill="url(#pattern9)"/>
    <path class="only-path" d="M178 777.5L3 672.5L817 489.5L866 568.5L178 777.5Z" stroke="#747474" stroke-width="2"/>
    <path class="only-path" d="M1237.5 226L817 489.5L1383 545L1237.5 226Z" stroke="#747474" stroke-width="2"/>
    <path class="only-path" d="M1440.5 3L1237.5 226L1383 545L1440.5 3Z" stroke="#747474" stroke-width="2"/>
    <path class="only-path" d="M1488.5 222.5L1383 545L1440.5 3L1488.5 222.5Z" stroke="#747474" stroke-width="2"/>
    <path class="only-path" d="M1656 77.5L1488.5 222.5L1440.5 3.5L1656 77.5Z" stroke="#747474" stroke-width="2"/>
    <path class="only-path" d="M172 862.5L178 777.5L865.5 568.5L172 862.5Z" stroke="#747474" stroke-width="2"/>
    <path class="only-path" d="M859 678.5L172 862.5L865.5 568.5L859 678.5Z" stroke="#747474" stroke-width="2"/>
    <path class="only-path" d="M1217 768.5L865.5 568.5L859 678.5L1217 768.5Z" stroke="#747474" stroke-width="2"/>
    <path class="only-path" d="M1383 545L1216.5 768.5" stroke="#747474" stroke-width="2"/>
    <path class="only-path" d="M1122.5 825L1216.5 768.5L1314 825H1122.5Z" stroke="#747474" stroke-width="2"/>
    <defs>
        <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
            <use xlink:href="#image0" transform="translate(-6.70629 -0.00208012) scale(0.00786357 0.00638788)"/>
        </pattern>
        <pattern id="pattern1" patternContentUnits="objectBoundingBox" width="1" height="1">
            <use xlink:href="#image0" transform="translate(-5.9 -13.5568) scale(0.00887755 0.0248166)"/>
        </pattern>
        <pattern id="pattern2" patternContentUnits="objectBoundingBox" width="1" height="1">
            <use xlink:href="#image0" transform="translate(-2.39441 -2.82978) scale(0.00471814 0.00701069)"/>
        </pattern>
        <pattern id="pattern3" patternContentUnits="objectBoundingBox" width="1" height="1">
            <use xlink:href="#image0" transform="translate(-0.242621 -1.92175) scale(0.0024287 0.00476108)"/>
        </pattern>
        <pattern id="pattern4" patternContentUnits="objectBoundingBox" width="1" height="1">
            <use xlink:href="#image0" transform="translate(-0.243516 -1.92502) scale(0.00243045 0.00476918)"/>
        </pattern>
        <pattern id="pattern5" patternContentUnits="objectBoundingBox" width="1" height="1">
            <use xlink:href="#image0" transform="translate(-1.43728 -0.700491) scale(0.0029801 0.00439542)"/>
        </pattern>
        <pattern id="pattern6" patternContentUnits="objectBoundingBox" width="1" height="1">
            <use xlink:href="#image0" transform="translate(-6.08128 -0.000843187) scale(0.00830904 0.00258936)"/>
        </pattern>
        <pattern id="pattern7" patternContentUnits="objectBoundingBox" width="1" height="1">
            <use xlink:href="#image0" transform="translate(-13.0142 -0.000843966) scale(0.0159126 0.00259175)"/>
        </pattern>
        <pattern id="pattern8" patternContentUnits="objectBoundingBox" width="1" height="1">
            <use xlink:href="#image0" transform="translate(0 -1.69082) scale(0.0019545 0.00486854)"/>
        </pattern>
        <pattern id="pattern9" patternContentUnits="objectBoundingBox" width="1" height="1">
            <use xlink:href="#image0" transform="translate(-1.44032 -1.74536) scale(0.00298273 0.00502559)"/>
        </pattern>
        <image id="image0" width="980" height="614" xlink:href="/assets/images/test1.jpg"/>
    </defs>
</svg>
<div class="captions">
    <div class="caption" id="i0-text">215. Интерьер в папском дворце Ватикана</div>
    <div class="caption" id="i1-text">341. Офис компании Феникс</div>
    <div class="caption" id="i2-text">328. Места общего пользования в жилом комплексе «Шишимская горка»</div>
    <div class="caption" id="i3-text">359. Коттедж в Шишкино</div>
    <div class="caption" id="i4-text">240. Kontora Barbershop</div>
    <div class="caption" id="i5-text">408. Квартира в стиле современная классика</div>
    <div class="caption" id="i6-text">405. Салон красоты FRENCH</div>
    <div class="caption" id="i7-text">153. Офис группы компаний Атлас Девелопмент</div>
    <div class="caption" id="i8-text">123. Имидж-лаборатория ПЕРСОНА</div>
    <div class="caption" id="i9-text">428. Квартира в жилом комплексе ВТБ Арена парк</div>
    <div class="caption" id="i10-text">427. Еще одна квартира в жилом комплексе ВТБ Арена парк</div>
</div>